<div class="page-header">
  <div class="col-10 mx-auto">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="width-fit-content">
        <p class="mb-0 section-header-text">Report Issue Requests
        </p>
        <p class="mb-0 text-size-14">Admin / <span class="child-path-text">Report Issue Requests</span></p>
      </div>
    </div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div *ngIf="reportIssueRequests?.length && !isLoading" class="col 12 col-sm-12 col-md 12 col-lg-12 px-2 dark-background">

  <div class="row mx-0 justify-content-end">
    <div class="red-button mb-4 mr-3" (click)="myOpenTicketsClicked()">
      <p class="mb-0">My Open Tickets</p>
      <span class="red-button-icon"></span>
    </div>

    <div class="red-button mb-4" (click)="exportToExcel()">
      <p class="mb-0">Export To Excel</p>
      <span class="red-button-icon"></span>
    </div>
  </div>

  <div class="col-12 pb-4">
    <table style="width:100%;">
      <tr class="sticky-table-header">
        <th>ID</th>
        <th>Date Captured</th>
        <th>Name</th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Section
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderDataByPropertyNumber()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="propertyNumberMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th style="width: 30%;">Issue Description</th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Category
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderDataByCategory()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="categoryMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Priority
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderDataByPriority()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="priorityMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Assignee
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderDataByPersonResponsible()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="personResponsibleMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Status
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderDataByStatusy()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="statusMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th style="width: fit-content;">
          <div class="row mx-0" style="flex-wrap: nowrap;"><mat-icon class="p-0" fontIcon="edit"></mat-icon><mat-icon
              *ngIf="allowAdminToDelete" class="ml-1 p-0" fontIcon="delete"></mat-icon></div>
        </th>
      </tr>

      <ng-container *ngFor="let item of reportIssueRequests">
        <tr [hidden]="checkIfRowIsHidden(item)">
          <td class="text-no-wrap" [innerHTML]="item.id"></td>
          <td class="text-no-wrap" [innerHTML]="item.dateAdded"></td>
          <td class="text-no-wrap" [innerHTML]="item.name"></td>
          <td [innerHTML]="item.hangerOrSectionNumber"></td>
          <td [innerHTML]="item.issueDescription"></td>

          <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 195px !important;">
              <mat-label>Category</mat-label>
              <mat-select [(value)]="item.category"
                (selectionChange)="updateReportIssueCategory(item.id, $event.value)">
                <mat-option *ngFor="let category of categoryList" class="px-1" [value]="category.category">{{
                  category.category }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 175px !important;">
              <mat-label>Priority</mat-label>
              <mat-select [(value)]="item.priority"
                (selectionChange)="updateReposrtIssuePriority(item.id, $event.value)">
                <mat-option *ngFor="let priority of priorityList" class="px-1" [value]="priority.name">{{
                  priority.name }} [{{ priority.time || 'No Time Frame' }}]</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 160px !important;">
              <mat-label>Assignee</mat-label>
              <mat-select [(value)]="item.personResponsible"
                (selectionChange)="updateReportIssuePersonResponsible(item.id, $event.value)">
                <mat-option *ngFor="let person of responsiblePersonList" class="px-1" [value]="person.name">{{
                  person.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <!-- <td class="text-no-wrap text-center"><mat-icon *ngIf="item.hasFollowedUp === '0'"
            class="green-text mr-2 pointer" fontIcon="check"
            (click)="markIssueAsFollowedUpClicked(item)"></mat-icon></td> -->

          <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 140px !important;">
              <mat-label>Status</mat-label>
              <mat-select [(value)]="item.status" [disabled]="item.status === 'done' && !allowAdminToDelete" (selectionChange)="updateReportIssueStatus(item.id, $event.value)">
                <mat-option class="px-1" value="notStarted">Not Started</mat-option>
                <mat-option class="px-1" value="inProgress">In Progress</mat-option>
                <mat-option class="px-1" [disabled]="!allowAdminToDelete" value="done">Done</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <div class="row mx-0"><mat-icon class="red-text pointer p-0" fontIcon="edit"
                (click)="editReportIssueRequestClicked(item)"></mat-icon>
              <mat-icon *ngIf="allowAdminToDelete" class="red-text pointer ml-1 p-0" fontIcon="delete"
                (click)="deleteReportIssueRequestClicked(item)"></mat-icon>
            </div>
          </td>
        </tr>
      </ng-container>


    </table>
  </div>
</div>

<div *ngIf="isLoading" class="col-12 col-sm-12 col-md-12 col-lg-12 px-2 dark-background">
  <div class="col-10 mx-auto">
    <p class="text-size-24 pt-4 pb-5">Ticket List is loading, please be patient.</p>
  </div>
</div>

<div *ngIf="!reportIssueRequests?.length && !isLoading" class="col-12 col-sm-12 col-md-12 col-lg-12 px-2 dark-background">
  <div class="col-10 mx-auto">
    <p class="text-size-24 pt-4 pb-5">There are currently no issues to review.</p>
  </div>
</div>

<mat-menu #personResponsibleMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allResponsiblePersonsClicked();"
    [(ngModel)]="allPersonResponsibleCheckbox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let person of responsiblePersonList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="person.isFilterSelected">{{
      person.name
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="blankPersonResponsibleCheckBox">(Blank)</mat-checkbox>

</mat-menu>

<mat-menu #categoryMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allCategoryClicked();"
    [(ngModel)]="allCategoryCheckbox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let category of categoryList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="category.isFilterSelected">{{
      category.category
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="blankCategoryCheckBox">(Blank)</mat-checkbox>

</mat-menu>

<mat-menu #statusMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allStatusClicked();"
    [(ngModel)]="allStatusCheckBox"><b>Select All</b></mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="statusNotStartedCheckBox">Not
    Started</mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="statusInProgressCheckBox">In
    Progress</mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="statusDoneCheckBox">Done</mat-checkbox>

</mat-menu>

<mat-menu #propertyNumberMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allProperyNumberClicked();"
    [(ngModel)]="allPropertyNumberCheckBox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let property of propertyNumbersList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="property.isFilterSelected">{{
      property.description
      }}</mat-checkbox>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>

</mat-menu>

<mat-menu #priorityMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allPriorityClicked();"
    [(ngModel)]="allPriorityCheckbox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let priority of priorityList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="priority.isFilterSelected">{{
      priority.name
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="blankPriorityCheckBox">(Blank)</mat-checkbox>

</mat-menu>