<div class="page-header">
  <div class="col-10 mx-auto">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="width-fit-content">
        <p class="mb-0 section-header-text">Manage YouTube Videos
        </p>
        <p class="mb-0 text-size-14">Admin / <span class="child-path-text">Manage YouTube Videos</span></p>
      </div>
    </div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div *ngIf="youtubeData?.length" class="col-12 col-sm-12 col-md-12 col-lg-12 px-2 dark-background">

  <div class="row mx-0 justify-content-end">
    <div class="red-button mb-4" (click)="addYoutubeVideoClicked()">
      <p class="mb-0">Add Video</p>
      <span class="red-button-icon"></span>
    </div>
  </div>

  <div class="col-12 pb-4">
    <table>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Video URL</th>
        <th>Video ID</th>
        <th>Credits</th>
        <th>Video Start Time</th>
        <th>Video End Time</th>
        <th style="width: fit-content;">
          <div class="row mx-0" style="flex-wrap: nowrap;"><mat-icon class="p-0" fontIcon="edit"></mat-icon><mat-icon
              class="ml-1 p-0" fontIcon="delete"></mat-icon></div>
        </th>
      </tr>

      <tr *ngFor="let item of youtubeData">
        <td>{{ item.title }}</td>
        <td>{{ item.uploadType === 'youtube' ? 'YouTube': 'Upload' }}</td>
        <td><a class="mb-0 no-underline red-text" target="_blank" [href]="item.videoURL">{{ item.videoURL }}</a></td>
        <td>{{ item.videoId }}</td>
        <td>{{ item.credits }}</td>
        <td>{{ item.videoStartTime || 'N/A' }}</td>
        <td>{{ item.videoEndTime || 'N/A' }}</td>

        <td>
          <div class="row mx-0"><mat-icon class="red-text pointer p-0" fontIcon="edit"
              (click)="editYoutubeVideoClicked(item)"></mat-icon>
            <mat-icon class="red-text pointer ml-1 p-0" fontIcon="delete"
              (click)="deleteYoutubeVideoClicked(item)"></mat-icon>
          </div>
        </td>

      </tr>

    </table>
  </div>
</div>

<div *ngIf="!youtubeData?.length" class="col-12 col-sm-12 col-md-12 col-lg-12 px-2 dark-background">
  <div class="col-10 mx-auto">
    <div class="row mx-0 pt-4 pb-5 align-items-center">
      <div class="col">
        <p class="text-size-24 mb-0">There are currently no youtube links captured.</p>
      </div>
      <div class="col-auto">
        <div class="red-button mb-4" (click)="addYoutubeVideoClicked()">
          <p class="mb-0">Add Video</p>
          <span class="red-button-icon"></span>
        </div>
      </div>
    </div>
  </div>
</div>