<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Sell My Hangar</p>
    <p class="mb-0 text-size-14">Members / <span class="child-path-text">Sell My Hangar</span></p>
  </div>
</div>

<app-arrow-divider class="pointer" (click)="isSellMyHangerExpanded = !isSellMyHangerExpanded"
  [isLightToDark]="true"></app-arrow-divider>

<div class="dark-background">
  <div class="col-10 mx-auto pb-4">
    <mat-expansion-panel hideToggle [expanded]="isSellMyHangerExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <p class="text-size-24 mb-3">I want to sell my hangar</p>
      </mat-expansion-panel-header>

      <p class="">Give us the information we need, in order to create an advertisement for you on our website, and to
        post on our FaceBook page.</p>
    </mat-expansion-panel>

  </div>

  <app-arrow-divider class="pointer" (click)="isSellMyHangerFormExpanded = !isSellMyHangerFormExpanded"
    [isLightToDark]="false"></app-arrow-divider>

</div>

<div class="">

  <mat-expansion-panel hideToggle [expanded]="isSellMyHangerFormExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <div class="col-10 mx-auto">
        <p class="text-size-24 mb-3">Sell my Hangar</p>
      </div>
    </mat-expansion-panel-header>

    <div class="mb-3 pb-4" [formGroup]="sellMyHangerFormGroup">
      <div class="col-11 col-sm-11 col-md-10 col-lg-8 mx-auto form-background">
        <div class="row mx-0 justify-content-center mt-4">
          <mat-form-field class="col-10 px-0">
            <mat-label>Name</mat-label>
            <input style="color: black;" matInput required maxlength="100" formControlName="nameControl"
              placeholder="Please enter your name">
            <mat-error *ngIf="nameControl?.hasError('required')">Name is required</mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Email</mat-label>
            <input style="color: black;" matInput required maxlength="100" formControlName="emailControl"
              placeholder="Please capture a valid email address">
            <mat-error *ngIf="emailControl?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="emailControl?.hasError('pattern')">Enter a valid email</mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Phone Number</mat-label>
            <input style="color: black;" matInput required maxlength="10" formControlName="phoneNumberControl"
              placeholder="Please enter a valid phone number"
              (input)="numberControlInput(phoneNumberControl || undefined)">
            <mat-error *ngIf="phoneNumberControl?.hasError('required')">Phone Number is required</mat-error>
            <mat-error *ngIf="phoneNumberControl?.hasError('pattern')">Enter a valid phone number</mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar Number</mat-label>
            <input style="color: black;" matInput required maxlength="10" formControlName="hangerNumberControl"
              placeholder="Please enter your hanger number">
            <mat-error *ngIf="hangerNumberControl?.hasError('required')">Hangar Number is required</mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <div class="col-10 px-0">
            <P class="mb-1">Please upload your title or real right notarial deed.</P>
            <p class="text-size-12 child-path-text">Upload 1 supported file. File type: PDF. Max file size: 10MB</p>

            <div
              *ngIf="submitHangerForSaleRequestData.titleDocument?.fileName && submitHangerForSaleRequestData.titleDocument?.fileData">
              <div class="row mb-2 mx-0">
                <div class="col-1 px-0 align-content-center">
                  <mat-icon class="pointer delete-icon align-bottom" (click)="deleteTitleDocument()">delete</mat-icon>
                </div>
                <div class="col-11 pr-0 align-content-center">
                  <p class="mb-0 text-size-14">{{ submitHangerForSaleRequestData.titleDocument.fileName }}</p>
                </div>
              </div>
            </div>

            <div class="col-12 px-0">
              <app-file-uploader [allowSelectImages]="false" [numOfFilesAllowed]="1" [returnAsFile]="true"
                (emitFileData)="updateTitleDocumentation($event)"></app-file-uploader>
            </div>
          </div>
        </div>

        <div class="row mx-0 justify-content-center">
          <div class="col-10 px-0">
            <p class="mb-1 mt-2">Hangar Dimensions</p>
            <div class="row justify-content-between">
              <mat-form-field class="col-6 pr-2 pl-0">
                <mat-label>Width (Meter)</mat-label>
                <input style="color: black;" (input)="numberControlInputWithDecimal(hangerDimentionsWidthControl)"
                  matInput maxlength="10" formControlName="hangerDimentionsWidthControl" placeholder="Width (Meter)">
                <!-- <mat-error *ngIf="hangerDimentionsWidthControl?.hasError('required')">Width is required</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col-6 pr-0 pl-2">
                <mat-label>Length (Meter)</mat-label>
                <input style="color: black;" (input)="numberControlInputWithDecimal(hangerDimentionsLengthControl)"
                  matInput maxlength="10" formControlName="hangerDimentionsLengthControl" placeholder="Length (Meter)">
                <!-- <mat-error *ngIf="hangerDimentionsLengthControl?.hasError('required')">Length is required</mat-error> -->
              </mat-form-field>
            </div>
          </div>

        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <div class="col-10 px-0">
            <mat-label>Hangar Door Type</mat-label>
            <!-- <mat-select formControlName="hangerDoorTypeSelectControl">
              <mat-option value="Bifold">Bifold</mat-option>
              <mat-option value="Vertical Folding">Vertical Folding</mat-option>
              <mat-option value="Vertical Sliding">Vertical Sliding</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select> -->

            <mat-radio-group formControlName="hangerDoorTypeSelectControl">
              <mat-radio-button class="row mx-0" value="Bifold">Bifold</mat-radio-button>
              <mat-radio-button class="row mx-0" value="Vertical Folding">Vertical Folding</mat-radio-button>
              <mat-radio-button class="row mx-0" value="Vertical Sliding">Vertical Sliding</mat-radio-button>
              <mat-radio-button class="row mx-0" value="Other">Other</mat-radio-button>
            </mat-radio-group>

          </div>
        </div>

        <div *ngIf="hangerDoorTypeSelectControl?.value !== 'Vertical Folding'" class="row mx-0 justify-content-center">
          <div class="col-10 px-0">
            <p class="mb-1 mt-2">Hangar Door Dimensions</p>
            <div class="row justify-content-between">
              <mat-form-field class="col-4 pl-0 pr-1">
                <mat-label>Width (Meter)</mat-label>
                <input style="color: black;" matInput maxlength="10" formControlName="hangerDoorDimensionsWidthControl"
                  (input)="numberControlInputWithDecimal(hangerDoorDimensionsWidthControl)" placeholder="Width (Meter)">
                <!-- <mat-error *ngIf="hangerDoorDimensionsWidthControl?.hasError('required')">Width is required</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col-4 pl-1 pr-1">
                <mat-label>Length (Meter)</mat-label>
                <input style="color: black;" matInput maxlength="10" formControlName="hangerDoorDimensionsLengthControl"
                  (input)="numberControlInputWithDecimal(hangerDoorDimensionsLengthControl)"
                  placeholder="Length (Meter)">
                <!-- <mat-error *ngIf="hangerDoorDimensionsLengthControl?.hasError('required')">Length is required</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col-4 pl-1 pr-0">
                <mat-label>Height (Meter)</mat-label>
                <input style="color: black;" matInput maxlength="10" formControlName="hangerDoorDimensionsHeightControl"
                  (input)="numberControlInputWithDecimal(hangerDoorDimensionsHeightControl)"
                  placeholder="Height (Meter)">
                <!-- <mat-error *ngIf="hangerDoorDimensionsHeightControl?.hasError('required')">Height is required</mat-error> -->
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar Building Material</mat-label>
            <textarea cdkTextareaAutosize (keydown)="keydownOnBulletPointControl(hangerBuildingMaterialControl)"
              (keyup)="inputOnBulletPointControl(hangerBuildingMaterialControl, $event)"
              (blur)="blurOnBulletPointControl(hangerBuildingMaterialControl)" style="color: black;" matInput required
              maxlength="500" formControlName="hangerBuildingMaterialControl"
              placeholder="Construction material (e.g. steel frame, brick, etc)"></textarea>
            <!-- <input style="color: black;" matInput maxlength="500" formControlName="hangerBuildingMaterialControl"
              placeholder="Construction material (e.g. steel frame, brick, etc)"> -->
            <!-- <mat-error *ngIf="hangerBuildingMaterialControl?.hasError('required')">Hangar Building Material is required</mat-error> -->
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar - Year Built</mat-label>
            <input style="color: black;" (input)="numberControlInput(hangerYearBuiltControl || undefined)" matInput
              required maxlength="4" formControlName="hangerYearBuiltControl"
              placeholder="When was the hangar constructed?">
            <mat-error *ngIf="hangerYearBuiltControl?.hasError('required')">Hangar - Year Built is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar Customisations</mat-label>
            <input style="color: black;" matInput required maxlength="500" formControlName="hangerCustomisationsControl"
              placeholder="Any unique features, such as mezzanine levels, insulation, reinforced doors, etc">
            <mat-error *ngIf="hangerCustomisationsControl?.hasError('required')">Hangar Customisations is
              required</mat-error>
          </mat-form-field>
        </div> -->

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar Customisations</mat-label>
            <textarea cdkTextareaAutosize (keydown)="keydownOnBulletPointControl(hangerCustomisationsControl)"
              (keyup)="inputOnBulletPointControl(hangerCustomisationsControl, $event)"
              (blur)="blurOnBulletPointControl(hangerCustomisationsControl)" style="color: black;" matInput required
              maxlength="500" formControlName="hangerCustomisationsControl"
              placeholder="Any unique features, such as mezzanine levels, insulation, reinforced doors, etc"></textarea>
            <mat-error *ngIf="hangerCustomisationsControl?.hasError('required')">Hangar Customisations is
              required</mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar Features and Benefits</mat-label>
            <textarea cdkTextareaAutosize (keydown)="keydownOnBulletPointControl(hangerFeaturesAndBenefitsControl)"
              (keyup)="inputOnBulletPointControl(hangerFeaturesAndBenefitsControl, $event)"
              (blur)="blurOnBulletPointControl(hangerFeaturesAndBenefitsControl)" style="color: black;" matInput
              required maxlength="500" formControlName="hangerFeaturesAndBenefitsControl"
              placeholder="I am selling my hangar with the following items (included in the price)"></textarea>
            <!-- <input style="color: black;" matInput maxlength="500" formControlName="hangerFeaturesAndBenefitsControl"
              placeholder="I am selling my hangar with the following items [included in the price]"> -->
            <!-- <mat-error *ngIf="hangerFeaturesAndBenefitsControl?.hasError('required')">Hangar Features and Benefits is required</mat-error> -->
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar Security</mat-label>
            <textarea cdkTextareaAutosize (keydown)="keydownOnBulletPointControl(hangerSecurityControl)"
              (keyup)="inputOnBulletPointControl(hangerSecurityControl, $event)"
              (blur)="blurOnBulletPointControl(hangerSecurityControl)" style="color: black;" matInput required
              maxlength="500" formControlName="hangerSecurityControl"
              placeholder="Highlight any security measures like CCTV coverage, alarms, Armed Response, etc."></textarea>
            <!-- <input style="color: black;" matInput required maxlength="500" formControlName="hangerSecurityControl"
              placeholder="Highlight any security measures like CCTV coverage, alarms, Armed Response, etc."> -->
            <mat-error *ngIf="hangerSecurityControl?.hasError('required')">Hangar Security is required</mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Hangar Additional Infrastructure</mat-label>
            <textarea cdkTextareaAutosize (keydown)="keydownOnBulletPointControl(hangerAdditionalInfrastucture)"
              (keyup)="inputOnBulletPointControl(hangerAdditionalInfrastucture, $event)"
              (blur)="blurOnBulletPointControl(hangerAdditionalInfrastucture)" style="color: black;" matInput required
              maxlength="500" formControlName="hangerAdditionalInfrastucture"
              placeholder="If the hangar includes extras like workshop space, offices, bathrooms, or a kitchen, etc."></textarea>
            <!-- <input style="color: black;" matInput maxlength="100" formControlName="hangerAdditionalInfrastucture"
              placeholder="If the hangar includes extras like workshop space, offices, bathrooms, or a kitchen, etc."> -->
            <!-- <mat-error *ngIf="hangerAdditionalInfrastucture?.hasError('required')">Hangar Additional Infrastructure is required</mat-error> -->
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Asking Price</mat-label>
            <div class="d-flex">
              <span *ngIf="askingPriceControl.value" class="currency-input-prefix">ZAR</span>
              <input style="color: black;" (blur)="thousandSeparatorControlInput(askingPriceControl || undefined)"
                (input)="numberControlInputWithDecimal(askingPriceControl || undefined)" matInput required
                maxlength="100" formControlName="askingPriceControl" placeholder="Price in South African Rand(ZAR)">
            </div>
            <mat-error *ngIf="askingPriceControl?.hasError('required')">Asking price is required</mat-error>
          </mat-form-field>
        </div>


        <div class="row mx-0 justify-content-center mt-2">
          <div class="col-10 px-0">
            <P class="mb-1">Levies Applicable: [Tick all applicable items]</P>
              <div *ngFor="let levieItem of leviesData">
                <mat-checkbox *ngIf="levieItem.isForHangars === '1'" class="col-12 px-0" [checked]="levieItem.isSelected" (change)="levieItem.isSelected = $event.checked">{{ levieItem.levieName }} ZAR{{ levieItem.leviePrice }} per {{ levieItem.levieFrequency}}</mat-checkbox>
              </div>
          </div>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <div class="col-10 px-0">
            <P class="mb-1">High-quality images of the interior and exterior of the hangar, showing key features like
              doors,
              workshops areas, and proximity of the runway or other facilities. </P>
            <p class="text-size-12 child-path-text">Upload up to 5 supported files. File types: PNG, JPG, JPEG, SVG. Max
              50MB per file.
            </p>

            <div *ngIf="submitHangerForSaleRequestData.hangerImages?.length">
              <div class="row mb-2 mx-0" *ngFor="let image of submitHangerForSaleRequestData.hangerImages">

                <div class="col-1 px-0 align-content-center">
                  <mat-icon class="pointer delete-icon align-bottom"
                    (click)="deleteHangerImage(image.fileName)">delete</mat-icon>
                </div>
                <div class="col-11 pr-0 align-content-center">
                  <p class="mb-0 text-size-14">{{ image.fileName }}</p>
                </div>

              </div>
            </div>

            <div class="col-12 px-0">
              <app-file-uploader [allowSelectImages]="true" [numOfFilesAllowed]="5" [maxFileSize]="50000000" [returnAsFile]="true"
                (emitFileData)="updateHangerImages($event)"></app-file-uploader>
            </div>
          </div>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <div class="col-10 px-0">
            <P class="mb-1">If available, a detailed floor plan of the hangar.</P>
            <p class="text-size-12 child-path-text">Upload 1 supported file. File type: PDF. Max file size: 10MB</p>

            <div
              *ngIf="submitHangerForSaleRequestData.detailedFloorPlan?.fileName && submitHangerForSaleRequestData.detailedFloorPlan?.fileData">
              <div class="row mb-2 mx-0">

                <div class="col-1 px-0 align-content-center">
                  <mat-icon class="pointer delete-icon align-bottom"
                    (click)="deleteFloorPlanDocument()">delete</mat-icon>
                </div>
                <div class="col-11 pr-0 align-content-center">
                  <p class="mb-0 text-size-14">{{ submitHangerForSaleRequestData.detailedFloorPlan.fileName }}</p>
                </div>

              </div>
            </div>

            <div class="col-12 px-0">
              <app-file-uploader [allowSelectImages]="false" [numOfFilesAllowed]="1" [returnAsFile]="true"
                (emitFileData)="updateFloorDocumentation($event)"></app-file-uploader>
            </div>
          </div>
        </div>

        <div class="row mx-0 justify-content-center mt-2">
          <mat-form-field class="col-10 px-0">
            <mat-label>Reason for selling</mat-label>
            <input style="color: black;" matInput required maxlength="500" formControlName="reasonForSellingControl"
              placeholder="Relocating, Retiring, Upgrading, etc">
            <mat-error *ngIf="reasonForSellingControl?.hasError('required')">Reason for selling is required</mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-0 justify-content-center">
          <div class="red-button mb-4"
            [ngClass]="{'disable-user-click': isSubmitDisabled()}"
            (click)="submitClicked()">
            <p class="mb-0">Submit</p>
            <span class="red-button-icon"></span>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

</div>