<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Hangers For Sale</p>
    <p class="mb-0 text-size-14">Property For Sale / <span class="child-path-text">Hangers For Sale</span></p>
  </div>
</div>

<!-- <div class="row mx-0 mb-4 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image1"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image2"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image3"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image4"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image5"></div>
  </div>
</div> -->

<app-arrow-divider class="pointer" (click)="isAviationMeetsCommunityExpanded = !isAviationMeetsCommunityExpanded"
  [isLightToDark]="true"></app-arrow-divider>

<div class="dark-background">
  <mat-expansion-panel hideToggle [expanded]="isAviationMeetsCommunityExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <div class="col-10 mx-auto">
        <p class="text-size-24 mb-3">Aviation Meets Community at Tedderfield Airpark</p>
      </div>
    </mat-expansion-panel-header>


    <div class="col-10 mx-auto pb-4">
      <p class="">Tedderfield Airpark offers a limited number of exclusive hangar spaces for sale, providing private pilots and aviation professionals the opportunity to base themselves in a vibrant, aviation-centered community.</p>
      <p class="">Our hangars aren't just spaces - they're access points to a full aviation lifestyle.</p>
      <p class="">From early-morning takeoffs to the camaraderie shared over evening landings, Tedderfield is where your aviation dreams come to life.</p>
    </div>
  </mat-expansion-panel>

  <app-arrow-divider class="pointer" (click)="isWhyInvestInAHangerExpanded = !isWhyInvestInAHangerExpanded"
    [isLightToDark]="false"></app-arrow-divider>

</div>

<div class="">
  <mat-expansion-panel hideToggle [expanded]="isWhyInvestInAHangerExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <div class="col-10 mx-auto">
      <p class="text-size-24 mb-3">Why Invest in a Hangar at Tedderfield?</p>
      </div>
    </mat-expansion-panel-header>

    <div class="col-10 mx-auto pb-4">
      <p class="">Located at one of South Africa's premier private airfields, Tedderfield Airpark provides safe, secure, and spacious hangars designed for both private and commercial aviation needs.</p>
      <p class="">As a hangar owner, you'll join a community of passionate aviators, enjoy access to fly-ins, fly-aways, and other social events.</p>
      <p class="">Tedderfield also offers maintenance facilities, an active social calendar, and a host of amenities that make your aviation life smooth and enjoyable.</p>
    </div>

  </mat-expansion-panel>

  <app-arrow-divider class="pointer" (click)="isDontMissOutOnLimitedHangersExpanded = !isDontMissOutOnLimitedHangersExpanded"
    [isLightToDark]="true"></app-arrow-divider>
</div>

<div class="dark-background">
  <mat-expansion-panel hideToggle [expanded]="isDontMissOutOnLimitedHangersExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <div class="col-10 mx-auto">
        <p class="text-size-24 mb-3">Don't Miss Out on Limited Hangar Opportunities</p>
      </div>
    </mat-expansion-panel-header>


    <div class="col-10 mx-auto pb-4">
      <p class="">Our hangar spaces are in high demand, attracting everyone from seasoned pilots to aviation enthusiasts who want a home for their aircraft.</p>
      <p class="">Contact us to learn more about our available hangars for sale and secure your own hangar at Tedderfield Airpark, where adventure takes flight daily.</p>
    </div>
  </mat-expansion-panel>

</div>