<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Getting To Know You</p>
    <p class="mb-0 text-size-14">Members / <span class="child-path-text">Getting To Know You</span></p>
  </div>
</div>

<!-- <div class="row mx-0 mb-4 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 px-0">
    <div class="page-top-images image1"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 px-0">
    <div class="page-top-images image2"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 px-0">
    <div class="page-top-images image3"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 px-0">
    <div class="page-top-images image4"></div>
  </div>
</div> -->

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>