<!-- Header -->
<div class="main-container">
    <div class="header row mx-0 px-4">
        <div class="col-3 center-align-vertical">
            <div class="logo-image"></div>
        </div>
        <div class="col-9 center-align-vertical">

            <div class="row mx-0">
                <div class="pointer col-auto">
                    <p class="m-2">Aircraft</p>
                </div>

                <div class="pointer col-auto">
                    <p class="m-2">Distributor</p>
                </div>

                <div class="pointer col-auto">
                    <p class="m-2">News & Events</p>
                </div>

                <div class="pointer col-auto">
                    <p class="m-2">About Us</p>
                </div>

                <div class="pointer col-auto">
                    <p class="m-2">Contact</p>
                </div>

                <div class="pointer col-auto">
                    <p class="m-2">Support</p>
                </div>


                <div class="pointer col-auto">
                    <p class="m-2">Store</p>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="header-bottom-border"></div> -->
    <!-- End of Header -->

    <!-- Body -->
    <div class="content-container" id="content-container">
        <router-outlet></router-outlet>
    </div>
    <!-- End of Body -->

    <!-- Footer -->
    <div class="footer-container">
        <p class="mb-0">Footer content goed here!!!!!</p>
    </div>
    <!-- End of Footer -->
</div>