<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Mission & Vision Statement</p>
    <p class="mb-0 text-size-14">About Us / <span class="child-path-text">Mission & Vision Statement</span></p>
  </div>
</div>

<div class="row mx-0 mb-4 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image1"></div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image2"></div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image3"></div>
  </div>
</div>

<app-arrow-divider class="pointer" (click)="isMissionExpanded = !isMissionExpanded" [isLightToDark]="true"></app-arrow-divider>

<div class="dark-background">
  <div class="col-10 mx-auto pb-4">
    <mat-expansion-panel hideToggle [expanded]="isMissionExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <p class="text-size-24 mb-3">Tedderfield Airpark Mission Statement</p>
      </mat-expansion-panel-header>
      <p class="">To fuel the love of flying, foster a tight-knit community, and keep the skies buzzing with excitement.
        At Tedderfield, we're all about creating the perfect space where aviators, adventurers, and dreamers work
        together toward a shared vision—building a thriving, supportive community where everyone's passion for flight
        takes off.</p>
    </mat-expansion-panel>
  </div>

  <app-arrow-divider class="pointer" (click)="isVisionExpanded = !isVisionExpanded" [isLightToDark]="false"></app-arrow-divider>

</div>

<div class="col-10 mx-auto pb-4">
  <mat-expansion-panel hideToggle [expanded]="isVisionExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <p class="text-size-24 mb-3">Tedderfield Airpark Vision Statement</p>
    </mat-expansion-panel-header>
    <p class="">To be South Africa's most vibrant aviation hub, where passion for flight meets community spirit. As the
      home of Sling Aircraft, we aim to soar together, creating a space where the world's most loved and respected
      aircraft are built, flown, and celebrated by a community that thrives both on the ground and in the skies.</p>
  </mat-expansion-panel>
</div>