<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">FAQ's</p>
    <p class="mb-0 text-size-14">Members / <span class="child-path-text">FAQ's</span></p>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<mat-accordion>
  <div *ngFor="let section of faqSections; let first = first let last = last; let index = index"
    [ngClass]="{'dark-background': ((index + 1) % 2 ? true : false)}">


    <div class="col-10 mx-auto pb-4">
      <p class="text-size-24 mb-3" [innerHTML]="section.sectionTitle"></p>
      <!-- <p class="" *ngFor="let paragraph of section.paragraphs" [innerHTML]="paragraph"></p> -->

      <div *ngFor="let question of section.questions" class="pt-3">

        <mat-expansion-panel hideToggle (opened)="question.isPanelExpanded= true" (closed)="question.isPanelExpanded= false" [ngClass]="{'dark-expansion-pannel': ((index + 1) % 2 ? false : true)}">
          <mat-expansion-panel-header class="px-3">
            <div class="row expansion-panel-header-row">
              <div class="col-11 my-auto">
                <p class="mb-0 text-size-20">{{ question.questionTitle }}</p>
              </div>
              <div class="col-1 my-auto pr-0 text-end">
                <mat-icon [ngClass]="{'rotate-expansion-panel-icon': question.isPanelExpanded}" class="expansion-panel-icon"
                  aria-hidden="false" fontIcon="expand_more"></mat-icon>
              </div>
            </div>
          </mat-expansion-panel-header>
          <p class="text-size-16 mb-0">{{ question.questionAnswer }}</p>
        </mat-expansion-panel>

      </div>
    </div>

    <app-arrow-divider *ngIf="!last" [isLightToDark]="((index + 1) % 2 ? false : true)"></app-arrow-divider>

  </div>
</mat-accordion>