.page-top-images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: block;
}

.image1 {
    background-image: url("../../../../../assets/pilot-information/circuit-procedures/D75_5279.jpg");
}
.image2 {
    background-image: url("../../../../../assets/pilot-information/circuit-procedures/Spot_Landing_Participant_3.jpg");
}
.image3 {
    background-image: url("../../../../../assets/pilot-information/circuit-procedures/Spot_Landing_Participant_14.jpg");
}
.image4 {
    background-image: url("../../../../../assets/pilot-information/circuit-procedures/D75_7299.jpg");
}
