<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Stands For Sale</p>
    <p class="mb-0 text-size-14">Property For Sale / <span class="child-path-text">Stands For Sale</span></p>
  </div>
</div>

<!-- <div class="row mx-0 mb-4 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image1"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image2"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image3"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image4"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image5"></div>
  </div>
</div> -->

<app-arrow-divider class="pointer" (click)="isBuildYourDreamsExpanded = !isBuildYourDreamsExpanded"
  [isLightToDark]="true"></app-arrow-divider>

<div class="dark-background">
  <mat-expansion-panel hideToggle [expanded]="isBuildYourDreamsExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <div class="col-10 mx-auto">
        <p class="text-size-24 mb-3">Build Your Dream on a Private Airfield</p>
      </div>
    </mat-expansion-panel-header>


    <div class="col-10 mx-auto pb-4">
      <p class="">Imagine waking up with open clear skies, your good mood erupts and you drive through to Tedderfield
        Airpark.</p>
      <p class="">Tedderfield Airpark offers a unique position where aviation enthusiasts and adventurers unite to enjoy
        unparalleled access to a world-class private airfield.</p>
      <p class="">Our exclusive stands for sale provide the perfect canvas for those looking to build a custom home with
        an aviation twist.</p>
    </div>
  </mat-expansion-panel>

  <app-arrow-divider class="pointer" (click)="isWhyChooseTedderfieldExpanded = !isWhyChooseTedderfieldExpanded"
    [isLightToDark]="false"></app-arrow-divider>

</div>

<div class="">
  <mat-expansion-panel hideToggle [expanded]="isWhyChooseTedderfieldExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <div class="col-10 mx-auto">
      <p class="text-size-24 mb-3">Why Choose Tedderfield?</p>
      </div>
    </mat-expansion-panel-header>

    <div class="col-10 mx-auto pb-4">
      <p class="">Located within close proximity to Johannesburg, Tedderfield Airpark offers a balance of peace and
        convenience.</p>
      <p class="">With a close-knit community who share a passion for aviation, you'll find camaraderie and shared
        values that go beyond the average.</p>
      <p class="">Each stand enjoys access to all airpark amenities, from well-maintained taxiways to events, social
        gatherings, and more.</p>
    </div>

  </mat-expansion-panel>

  <app-arrow-divider class="pointer" (click)="isStandsAreLimitedExpanded = !isStandsAreLimitedExpanded"
    [isLightToDark]="true"></app-arrow-divider>
</div>

<div class="dark-background">
  <mat-expansion-panel hideToggle [expanded]="isStandsAreLimitedExpanded" class="page-section-expansion-pannel">
    <mat-expansion-panel-header>
      <div class="col-10 mx-auto">
        <p class="text-size-24 mb-3">Stands are Limited - Don't Miss Out</p>
      </div>
    </mat-expansion-panel-header>


    <div class="col-10 mx-auto pb-4">
      <p class="">Our available stands are in demand among aviation lovers, families, and investors alike.</p>
      <p class="">If you're ready to claim your piece of Tedderfield and design a life around the skies, reach out to us today.</p>
      <p class="">Our team is here to guide you through the process and help make your vision a reality.</p>
    </div>
  </mat-expansion-panel>

</div>