<div class="row mx-0 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <div class="page-top-images image1"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <div class="page-top-images image2"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <div class="page-top-images image3"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <div class="page-top-images image4"></div>
  </div>
</div>