.page-top-images {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: block;
}

.image1 {
    background-image: url("../../../assets/home/home-1-test.jpg");
    background-position: center !important;
}
.image2 {
    background-image: url("../../../assets/home/home-2.jpg");
}
.image3 {
    background-image: url("../../../assets/home/home-3.jpg");
}
.image4 {
    background-image: url("../../../assets/home/home-4.jpg");
}

.hope-page-top-banner-spacing {
    margin-top: 99px;
}

.test-images {
    width: 100%;
    height: 400px;
    display: block;
}
