.page-top-images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: block;
}

.image1 {
    background-image: url("../../../../../assets/members/classifieds/classifieds-1.jpg");
}
.image2 {
    background-image: url("../../../../../assets/members/classifieds/classifieds-2.jpg");
}
.image3 {
    background-image: url("../../../../../assets/members/classifieds/classifieds-3.jpg");
}
.image4 {
    background-image: url("../../../../../assets/members/classifieds/classifieds-4.jpg");
}

.report-issue-form-background {
    background-color: rgb(171, 168, 168, 0.1) !important;
    border-radius: 10px;
    border: 1px solid #aba8a8;
}

.delete-icon {
    color: #ee202e;
}