<ng-container [ngSwitch]="data.type" *ngIf="!isLoading">
  <ng-container *ngSwitchCase="modalTypesEnum.InformationModal" [ngTemplateOutlet]="InformationModal"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.PDFModal" [ngTemplateOutlet]="PDFModal"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.ConfirmationModal" [ngTemplateOutlet]="ConfirmationModal"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.CaptureGallerySectionTitle"
    [ngTemplateOutlet]="CaptureGallerySectionTitle"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.SearchAndSecueModal"
    [ngTemplateOutlet]="SearchAndSecueModalTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.BannerModal" [ngTemplateOutlet]="BannerModalTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.InterestedInPropertyModal"
    [ngTemplateOutlet]="InterestedInPropertyTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.AddFolderModal" [ngTemplateOutlet]="AddFolderTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.EditReportIssueData"
    [ngTemplateOutlet]="EditReportIssueDataTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.CaptureMember" [ngTemplateOutlet]="CaptureMemberTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.CapturSingleInputField"
    [ngTemplateOutlet]="CaptureSingleInputTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.CapturePriorityData"
    [ngTemplateOutlet]="CapturePriorityTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.CaptureWebTicketData"
    [ngTemplateOutlet]="CaptureWebTicketItemTemplate"></ng-container>
  <ng-container *ngSwitchCase="modalTypesEnum.CaptureYoutubeVideo"
    [ngTemplateOutlet]="CaptureYoutubeVideoTemplate"></ng-container>
</ng-container>

<ng-template #InformationModal>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div *ngIf="data.details" class="row mx-0 p-3">
    <p class="text-size-18 text-center" [innerHTML]="data.details"></p>
  </div>
</ng-template>

<ng-template #PDFModal>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 py-2">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div *ngIf="data.details">
    <div class="my-2 justify-content-center file-viewer-container">
      <pdf-viewer class="pdf-size" [src]="data.details" [zoom-scale]="'page-fit'" [original-size]="false"
        [render-text]="false">
      </pdf-viewer>
    </div>

    <div [hidden]="data.inputValues?.removeDownloadButton" class="row mx-0 justify-content-center mb-2">
      <div class="red-button" (click)="downloadDocument()">
        <p class="mb-0">Download</p>
        <span class="red-button-icon"></span>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #BannerModalTemplate>
  <div>
    <div *ngIf="data.title" class="modal-title">
      <div class="row mx-0 py-2">
        <div class="col-1 px-0"></div>
        <div class="col-10">
          <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
        </div>
        <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
            class="pt-1 pointer mr-3">close</mat-icon></div>
        <!-- ml-n2 mb-n4  -->
      </div>

      <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
    </div>

    <div *ngIf="data.details">
      <div class="my-2 justify-content-center file-viewer-container-custom"
        style="--bannerPDFHeight: {{bannerPDFHeight}};">
        <pdf-viewer class="pdf-size" [src]="data.details" [zoom-scale]="'page-fit'" [original-size]="false"
          [render-text]="false" (page-rendered)="bannerLoaded()" id="banner-pdf-viewer">
        </pdf-viewer>
      </div>

      <div class="row mx-0 justify-content-center mb-2">
        <div class="red-button" (click)="downloadDocument()">
          <p class="mb-0">Download</p>
          <span class="red-button-icon"></span>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #ConfirmationModal>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div *ngIf="data.details" class="row mx-0 p-3">
    <p class="text-size-18 text-center mb-0" [innerHTML]="data.details"></p>
  </div>

  <div class="row mx-0 my-4 justify-content-center">
    <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
      <p class="mb-0">Cancel</p>
      <span class="white-button-icon"></span>
    </div>

    <div class="red-button ml-3" [matDialogClose]="modalOutcomeOptions.Confirm">
      <p class="mb-0">Confirm</p>
      <span class="red-button-icon"></span>
    </div>
  </div>
</ng-template>

<ng-template #CaptureGallerySectionTitle>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Heading</mat-label>
      <input style="color: black;" matInput required maxlength="100" [(ngModel)]="gallerySectionToEditData.title">
      <mat-error *ngIf="!gallerySectionToEditData.title">Section heading is required</mat-error>
    </mat-form-field>
    <p class="custom-mat-hint">{{ gallerySectionToEditData.title ? gallerySectionToEditData.title.length : 0}}/100</p>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Description</mat-label>
      <input style="color: black;" matInput maxlength="2000" [(ngModel)]="gallerySectionToEditData.description">
      <!-- <mat-error *ngIf="!gallerySectionToEditData.description">Section description is required</mat-error> -->
    </mat-form-field>
    <p class="custom-mat-hint">{{ gallerySectionToEditData.description ? gallerySectionToEditData.description.length :
      0}}/2000</p>
  </div>

  <div class="row mx-0 my-4 justify-content-center">
    <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
      <p class="mb-0">Cancel</p>
      <span class="white-button-icon"></span>
    </div>

    <div class="red-button ml-3" [ngClass]="{'disable-user-click': !gallerySectionToEditData.title}"
      (click)="confirmGallerySectionChanges()">
      <p class="mb-0">{{ gallerySectionToEditData.id ? 'Confirm' : 'Add Section' }}</p>
      <span class="red-button-icon"></span>
    </div>
  </div>
</ng-template>

<ng-template #SearchAndSecueModalTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="mx-0 p-3">
    <p class="text-size-18 text-center">Greg: <a class="no-underline red-text" href="tel:+27828238493">+27 82 823
        8493</a></p>
    <p class="text-size-18 text-center">Rob: <a class="no-underline red-text" href="tel:+27635055485">+27 63 505
        5485</a></p>
    <p class="text-size-18 text-center">24 Hour Number: <a class="no-underline red-text" href="tel:+27119286454">+27 11
        928 6454</a></p>
    <p class="text-size-18 text-center"><a class=" text-bold red-text" target="_blank"
        href="https://www.facebook.com/ARCCSASAR">ARCC - Aeronautical Rescue Coordination Centre</a></p>
  </div>
</ng-template>

<ng-template #InterestedInPropertyTemplate>
  <div class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="p-3">
    <div class="col-12" [formGroup]="interestedInPropertyFormGroup">
      <mat-form-field class="col-12 px-0">
        <mat-label>Name</mat-label>
        <input style="color: black;" matInput required maxlength="100" formControlName="interestedInPropertyNameControl"
          placeholder="Please enter your name">
        <mat-error *ngIf="interestedInPropertyNameControl.hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="col-12 px-0">
        <mat-label>Email</mat-label>
        <input style="color: black;" matInput required maxlength="100"
          formControlName="interestedInPropertyEmailControl" placeholder="Please enter your name">
        <mat-error *ngIf="interestedInPropertyEmailControl.hasError('required')">Email is required</mat-error>
      </mat-form-field>

      <mat-form-field class="col-12 px-0">
        <mat-label>Phone Number</mat-label>
        <input style="color: black;" matInput maxlength="10" formControlName="interestedInPropertyPhoneNumberControl"
          placeholder="Please enter your name">
        <!-- <mat-error *ngIf="interestedInPropertyPhoneNumberControl.hasError('required')">Phone Number is
          required</mat-error> -->
        <mat-error *ngIf="interestedInPropertyPhoneNumberControl.hasError('pattern')">Enter a valid phone
          number</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-0 justify-content-center mt-3 mb-4">
      <div class="white-button mr-3" [matDialogClose]="modalOutcomeOptions.Close">
        <p class="mb-0">Cancel</p>
        <span class="white-button-icon"></span>
      </div>

      <div class="red-button" (click)="submitInterestedInPropertyForm()"
        [ngClass]="{'disable-user-click': interestedInPropertyFormGroup.invalid}">
        <p class="mb-0">Submit</p>
        <span class="red-button-icon"></span>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #AddFolderTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Folder Name</mat-label>
      <input style="color: black;" matInput required maxlength="100" [(ngModel)]="folderName">
      <mat-error *ngIf="!folderName">Folder Name is required</mat-error>
    </mat-form-field>
    <p class="custom-mat-hint">{{ folderName ? folderName.length : 0}}/100</p>
  </div>

  <div class="row mx-0 my-4 justify-content-center">
    <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
      <p class="mb-0">Cancel</p>
      <span class="white-button-icon"></span>
    </div>

    <div class="red-button ml-3" [ngClass]="{'disable-user-click': !folderName}" (click)="addFolderConfirmClicked()">
      <p class="mb-0">Confirm</p>
      <span class="red-button-icon"></span>
    </div>
  </div>
</ng-template>

<ng-template #EditReportIssueDataTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Hangar or Section Number</mat-label>
      <input style="color: black;" matInput required maxlength="50"
        [(ngModel)]="editReportIssueData.hangerOrSectionNumber">
      <mat-error *ngIf="!editReportIssueData.hangerOrSectionNumber">Hangar or Section Number is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Issue Description</mat-label>
      <textarea style="color: black;" matInput maxlength="2000"
        [(ngModel)]="editReportIssueData.issueDescription"></textarea>
      <mat-error *ngIf="!editReportIssueData.issueDescription">Issue Description is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-0 my-4 justify-content-center">
    <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
      <p class="mb-0">Cancel</p>
      <span class="white-button-icon"></span>
    </div>

    <div class="red-button ml-3"
      [ngClass]="{'disable-user-click': !editReportIssueData.hangerOrSectionNumber || !editReportIssueData.issueDescription}"
      (click)="updateReportIssueData()">
      <p class="mb-0">Update</p>
      <span class="red-button-icon"></span>
    </div>
  </div>
</ng-template>

<ng-template #CaptureMemberTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="capture-member-data" [formGroup]="captureMemberFormGroup">

    <div class="row mx-3 justify-content-center">
      <mat-form-field class="col-12 px-0">
        <mat-label>Name</mat-label>
        <input style="color: black;" matInput required maxlength="50" formControlName="captureMemberNameControl">
        <mat-error *ngIf="captureMemberNameControl?.hasError('required')">Name is required</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center mt-1">
      <mat-form-field class="col-12 px-0">
        <mat-label>Surname</mat-label>
        <input style="color: black;" matInput required maxlength="50" formControlName="captureMemberSurnameControl">
        <mat-error *ngIf="captureMemberSurnameControl?.hasError('required')">Surname is required</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center mt-1">
      <mat-form-field class="col-12 px-0">
        <mat-label>Phone Number</mat-label>
        <input style="color: black;" matInput required maxlength="10" formControlName="captureMemberPhoneNumberControl">
        <mat-error *ngIf="captureMemberPhoneNumberControl?.hasError('required')">Phone Number is required</mat-error>
        <mat-error *ngIf="captureMemberPhoneNumberControl?.hasError('pattern')">Enter a valid phone number</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center mt-1">
      <mat-form-field class="col-12 px-0">
        <mat-label>Email</mat-label>
        <input style="color: black;" matInput required maxlength="100" formControlName="captureMemberEmailControl">
        <mat-error *ngIf="captureMemberEmailControl?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="captureMemberEmailControl?.hasError('pattern')">Enter a valid email</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center mt-1">
      <mat-form-field class="col-12 px-0">
        <mat-label>Hangar Numbers</mat-label>
        <textarea cdkTextareaAutosize style="color: black;" matInput maxlength="500"
          formControlName="captureMemberHangarNumbersControl"
          (keydown)="keydownOnBulletPointControl(captureMemberHangarNumbersControl)"
          (keyup)="inputOnBulletPointControl(captureMemberHangarNumbersControl, $event)"
          (blur)="blurOnBulletPointControl(captureMemberHangarNumbersControl)"
          placeholder="Enter the hangar number of all the hangars you own at Tedderfield Airpark"></textarea>
        <!-- <mat-error *ngIf="captureMemberHangarNumbersControl?.hasError('required')">Hangar Number is required</mat-error> -->
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center mt-1">
      <mat-form-field class="col-12 px-0">
        <mat-label>Stand Numbers</mat-label>
        <textarea cdkTextareaAutosize style="color: black;" matInput maxlength="500"
          formControlName="captureMemberStandNumbersControl"
          (keydown)="keydownOnBulletPointControl(captureMemberStandNumbersControl)"
          (keyup)="inputOnBulletPointControl(captureMemberStandNumbersControl, $event)"
          (blur)="blurOnBulletPointControl(captureMemberStandNumbersControl)"
          placeholder="Enter the stand number of all the stands you own at Tedderfield Airpark"></textarea>
        <!-- <mat-error *ngIf="captureMemberStandNumbersControl?.hasError('required')">Stand Number is required</mat-error> -->
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center mt-1">
      <p class="mb-0 p-0 text-size-16">Is Admin:</p>
    </div>

    <div class="row ml-2 mr-3 justify-content-center">
      <div class="col-12 px-0">
        <mat-radio-group formControlName="captureMemberIsAdminControl">
          <mat-radio-button class="row mx-0" [value]="'1'">Yes</mat-radio-button>
          <mat-radio-button class="row mx-0" [value]="'0'">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row mx-0 my-4 justify-content-center">
      <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
        <p class="mb-0">Cancel</p>
        <span class="white-button-icon"></span>
      </div>

      <div class="red-button ml-3"
        [ngClass]="{'disable-user-click': captureMemberFormGroup.invalid || (captureMemberFormGroup.valid && !(captureMemberHangarNumbersControl.value || captureMemberStandNumbersControl.value))}"
        (click)="updateMemberData()">
        <p class="mb-0">{{ data.details || 'Save'}}</p>
        <span class="red-button-icon"></span>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #CaptureSingleInputTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="capture-member-data">

    <div class="row mx-3 justify-content-center">
      <mat-form-field class="col-12 px-0">
        <mat-label>{{ data.details || 'Capture Data' }}</mat-label>
        <input style="color: black;" matInput required maxlength="50" [(ngModel)]="captureSingleFieldData">
        <!-- <mat-error *ngIf="captureMemberNameControl?.hasError('required')">{{ data.details || 'Capture Data' }} is required</mat-error> -->
      </mat-form-field>
    </div>

    <div class="row mx-0 my-4 justify-content-center">
      <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
        <p class="mb-0">Cancel</p>
        <span class="white-button-icon"></span>
      </div>

      <div class="red-button ml-3" [ngClass]="{'disable-user-click': !captureSingleFieldData}"
        (click)="updateSinglrFieldData()">
        <p class="mb-0">Save</p>
        <span class="red-button-icon"></span>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #CapturePriorityTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="capture-member-data">

    <div class="row mx-3 justify-content-center">
      <mat-form-field class="col-12 px-0">
        <mat-label>Priority Description</mat-label>
        <input style="color: black;" matInput required maxlength="50" [(ngModel)]="capturePriorityData.name">
        <!-- <mat-error *ngIf="captureMemberNameControl?.hasError('required')">{{ data.details || 'Capture Data' }} is required</mat-error> -->
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center">
      <mat-form-field class="col-12 px-0">
        <mat-label>Time To Complete</mat-label>
        <input style="color: black;" matInput required maxlength="50" [(ngModel)]="capturePriorityData.time">
        <!-- <mat-error *ngIf="captureMemberNameControl?.hasError('required')">{{ data.details || 'Capture Data' }} is required</mat-error> -->
      </mat-form-field>
    </div>

    <div class="row mx-0 my-4 justify-content-center">
      <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
        <p class="mb-0">Cancel</p>
        <span class="white-button-icon"></span>
      </div>

      <div class="red-button ml-3"
        [ngClass]="{'disable-user-click': !capturePriorityData.name && !capturePriorityData.time}"
        (click)="updatePriorityData()">
        <p class="mb-0">Save</p>
        <span class="red-button-icon"></span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CaptureWebTicketItemTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="webTicketData.category" (selectionChange)="webTicketCategoryChanged()">
        <mat-option value="Web Development">Web Development</mat-option>
        <mat-option value="Administration">Administration</mat-option>
      </mat-select>
      <mat-error *ngIf="!webTicketData.category">Category is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Section</mat-label>
      <mat-select [disabled]="webTicketData.category === 'Administration'" [(ngModel)]="webTicketData.section"
        (selectionChange)="webTicketSectionChanged()">
        <mat-option *ngFor="let section of sectionsData" [value]="section.name">{{ section.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="!webTicketData.section">Section is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Page</mat-label>
      <mat-select [disabled]="webTicketData.category === 'Administration'" [(ngModel)]="webTicketData.page">

        <ng-container *ngIf="pageDisplayData?.length">
          <mat-option *ngFor="let page of pageDisplayData" [value]="page.name">{{ page.name }}</mat-option>
        </ng-container>

        <mat-option *ngIf="!pageDisplayData?.length" disabled value="">Select a Section first!</mat-option>

        <mat-option *ngIf="webTicketData.category === 'Administration'"
          value="Administration">Administration</mat-option>

      </mat-select>
      <mat-error *ngIf="!webTicketData.page">Page is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Description</mat-label>
      <textarea spellcheck="true" style="color: black;" matInput maxlength="2000"
        [(ngModel)]="webTicketData.description"></textarea>
      <mat-error *ngIf="!webTicketData.description">Description is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Assignee</mat-label>
      <mat-select [(ngModel)]="webTicketData.personResponsible">
        <mat-option value="Andre">Andre</mat-option>
        <mat-option value="Nic">Nic</mat-option>
        <mat-option value="Chantal">Chantal</mat-option>
      </mat-select>
      <mat-error *ngIf="!webTicketData.personResponsible">Assignee is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="webTicketData.priority">
        <mat-option *ngFor="let priority of priorityData" [value]="priority.priority">{{ priority.priority
          }}</mat-option>
      </mat-select>
      <mat-error *ngIf="!webTicketData.priority">Priority is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center mt-2">
    <mat-form-field class="col-12 px-0">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="webTicketData.status">
        <mat-option *ngFor="let status of statusData" [value]="status.status">{{ status.status }}</mat-option>
      </mat-select>
      <mat-error *ngIf="!webTicketData.status">Status is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-0 my-4 justify-content-center">
    <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
      <p class="mb-0">Cancel</p>
      <span class="white-button-icon"></span>
    </div>

    <div class="red-button ml-3"
      [ngClass]="{'disable-user-click': !webTicketData.section || !webTicketData.page || !webTicketData.description || !webTicketData.personResponsible || !webTicketData.category || !webTicketData.status || !webTicketData.priority}"
      (click)="saveWebTicketData()">
      <p class="mb-0">Save</p>
      <span class="red-button-icon"></span>
    </div>
  </div>
</ng-template>

<ng-template #CaptureYoutubeVideoTemplate>
  <div *ngIf="data.title" class="modal-title">
    <div class="row mx-0 p-3" style="flex-flow: nowrap;">
      <div class="col-1 px-0"></div>
      <div class="col-10">
        <p class="text-size-20 mb-0 text-center" [innerHTML]="data.title"></p>
      </div>
      <div class="col-1 px-0 text-end"><mat-icon [matDialogClose]="modalOutcomeOptions.Close"
          class="ml-n2 mb-n4 pt-1 pointer">close</mat-icon></div>
    </div>

    <app-arrow-divider [isLightToDark]="false" [isSmallDivider]="true"></app-arrow-divider>
  </div>

  <div class="row mx-3 justify-content-center">
    <mat-form-field class="col-12 px-0">
      <mat-label>Title</mat-label>
      <input style="color: black;" matInput required maxlength="200" [(ngModel)]="youtubeVideoData.title">
      <mat-error *ngIf="!youtubeVideoData.title">Title is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center">
    <mat-form-field class="col-12 px-0">
      <mat-label>Video URL</mat-label>
      <input style="color: black;" (input)="checkIfValidYoutubeURL()" matInput required maxlength="200" [(ngModel)]="youtubeVideoData.videoURL">
      <mat-error *ngIf="!youtubeVideoData.videoURL">URL is required</mat-error>
      <!-- <mat-error *ngIf="!isYoutubeURLValid">Enter a valid URL: https://www.youtube.com/watch?v=[VideoId]</mat-error> -->
      <mat-hint class="red-text" *ngIf="!isYoutubeURLValid">Enter a valid URL: https://www.youtube.com/watch?v=[VideoId]</mat-hint>
    </mat-form-field>
  </div>

  <div class="row mx-3 justify-content-center">
    <mat-form-field class="col-12 px-0">
      <mat-label>Credits</mat-label>
      <input style="color: black;" matInput required maxlength="200" [(ngModel)]="youtubeVideoData.credits">
      <mat-error *ngIf="!youtubeVideoData.credits">Credits is required</mat-error>
    </mat-form-field>
  </div>

  <mat-checkbox class="mx-3" [(ngModel)]="youtubeVideoDisplayTimeCheckBox" (change)="youtubeVideoDisplayTimeCheckBoxChaged()">Add video start and end time</mat-checkbox>

  <div *ngIf="youtubeVideoDisplayTimeCheckBox">
    <div class="row mx-3 justify-content-center">
      <mat-form-field class="col-12 px-0">
        <mat-label>Video start time (Seconds)</mat-label>
        <input type="number" style="color: black;" matInput required maxlength="100" [(ngModel)]="youtubeVideoData.videoStartTime">
        <mat-error *ngIf="!youtubeVideoData.videoStartTime">Start time is required</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-3 justify-content-center">
      <mat-form-field class="col-12 px-0">
        <mat-label>Video end time (Seconds)</mat-label>
        <input type="number" style="color: black;" matInput required maxlength="100" [(ngModel)]="youtubeVideoData.videoEndTime">
        <mat-error *ngIf="!youtubeVideoData.videoEndTime">End time is required</mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="row mx-0 my-4 justify-content-center">
    <div class="white-button" [matDialogClose]="modalOutcomeOptions.Cancel">
      <p class="mb-0">Cancel</p>
      <span class="white-button-icon"></span>
    </div>

    <div class="red-button ml-3"
      [ngClass]="{'disable-user-click': !youtubeVideoData.title || !youtubeVideoData.videoURL || !isYoutubeURLValid || !youtubeVideoData.credits || (youtubeVideoDisplayTimeCheckBox && (!youtubeVideoData.videoStartTime || !youtubeVideoData.videoEndTime))}"
      (click)="saveYoutubeVideoClicked()">
      <p class="mb-0">Save</p>
      <span class="red-button-icon"></span>
    </div>
  </div>
</ng-template>