<div class="page-header">
  <div class="col-10 mx-auto">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="width-fit-content">
        <p class="mb-0 section-header-text">Website Tickets
        </p>
        <p class="mb-0 text-size-14">Admin / <span class="child-path-text">Website Tickets</span></p>
      </div>
    </div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div *ngIf="!webTicketsData?.length && !isLoading" class="col-12 col-sm-12 col-md-12 col-lg-12 px-2 dark-background">
  <div class="col-10 mx-auto">

    <div class="row mx-0 pt-4 pb-5 align-items-center">
      <div class="col">
        <p class="text-size-24 mb-0">There are currently no issues to review.</p>
      </div>
      <div class="col-auto">
        <div class="red-button" (click)="addWebItemClicked()">
          <p class="mb-0">Add Ticket</p>
          <span class="red-button-icon"></span>
        </div>
      </div>


    </div>
  </div>
</div>

<div *ngIf="isLoading" class="col-12 col-sm-12 col-md-12 col-lg-12 px-2 dark-background">
  <div class="col-10 mx-auto">
    <p class="text-size-24 pt-4 pb-5">Ticket List is loading, please be patient.</p>
  </div>
</div>

<div *ngIf="webTicketsData?.length && !isLoading" class="col 12 col-sm-12 col-md 12 col-lg-12 px-2 dark-background">

  <div class="row mx-0 justify-content-end">
    <div class="red-button mb-4 mr-3" (click)="addWebItemClicked()">
      <p class="mb-0">Add Ticket</p>
      <span class="red-button-icon"></span>
    </div>

    <div class="red-button mb-4 mr-3" (click)="myOpenTicketsClicked()">
      <p class="mb-0">My Open Tickets</p>
      <span class="red-button-icon"></span>
    </div>

    <div class="red-button mb-4" (click)="exportToExcel()">
      <p class="mb-0">Export To Excel</p>
      <span class="red-button-icon"></span>
    </div>
  </div>

  <div class="col-12 pb-4">
    <table style="width:100%;">
      <tr class="sticky-table-header">

        <th>ID</th>
        <th>Name</th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Category
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderDataByCategory()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="categoryFilterMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th>Description</th>
        <th>Section</th>
        <th>Page</th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Assignee
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderByPersonResponsibleClicked()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="peronResponsibleFilterMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Priority
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderByPriorityClicked()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="priorityFilterMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Status
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderByStatusClicked()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="statusFilterMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th>

        <!-- <th>Date Added</th> -->
        <th>Estimated Completion Date</th>

        <!-- <th class="text-nowrap">
          <div class="row mx-0 justify-content-between row-no-wrap align-items-center">
            Section
            <div class="width-fit-content pt-1">
              <span class="ml-1 align-middle">
                <mat-icon class="pointer" (click)="orderDataByPropertyNumber()">unfold_more</mat-icon>
              </span>
              <span class="ml-1 align-middle">
                <button class="p-0" [matMenuTriggerFor]="propertyNumberMenu" mat-icon-button aria-label="Menu">
                  <mat-icon class="">filter_list</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </th> -->

        <th style="width: fit-content;">
          <div class="row mx-0" style="flex-wrap: nowrap;"><mat-icon class="p-0" fontIcon="edit"></mat-icon><mat-icon
              *ngIf="allowAdminToDelete" class="ml-1 p-0" fontIcon="delete"></mat-icon></div>
        </th>
      </tr>

      <ng-container *ngFor="let item of webTicketsData">
        <tr [hidden]="checkIfRowIsHidden(item)">

          <td [innerHTML]="item.id"></td>
          <td [innerHTML]="item.name"></td>
          <td [innerHTML]="item.category"></td>
          <td [innerHTML]="item.description"></td>
          <td [innerHTML]="item.section"></td>
          <td [innerHTML]="item.page"></td>

          <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 140px !important;">
              <mat-label>Assignee</mat-label>
              <mat-select [(value)]="item.personResponsible" (selectionChange)="updateWebItem(item.id)">
                <mat-option value="Andre">Andre</mat-option>
                <mat-option value="Nic">Nic</mat-option>
                <mat-option value="Chantal">Chantal</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 140px !important;">
              <mat-label>Priority</mat-label>
              <mat-select [(value)]="item.priority" (selectionChange)="updateWebItem(item.id)">
                <mat-option *ngFor="let priority of priorityData" [value]="priority.priority">{{ priority.priority
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 140px !important;">
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="item.status" (selectionChange)="updateWebItem(item.id)">
                <mat-option *ngFor="let status of statusData" [value]="status.status">{{ status.status }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>


          <!-- <td [innerHTML]="item.estimatedCompletionDate"></td> -->

          <td>
            <!-- <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
            style="width: 140px !important;">
              <mat-label>ETA Date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->

            <!-- <mat-calendar></mat-calendar> -->

            <div class="row mx-0">
              <div class="col-9 pl-3 px-0 align-content-center">
                <p class="mb-0">{{ item.estimatedCompletionDate }}</p>
              </div>
              <div class="col-3 px-0 align-content-center">
                <app-date-picker [startDate]="item.estimatedCompletionDate || ''" (dateChangedEmit)="estimatedCompletionDateChanged($event, item.id)"></app-date-picker>
              </div>
            </div>

          </td>


          <td>
            <div class="row mx-0"><mat-icon class="red-text pointer p-0" fontIcon="edit"
                (click)="editWebItemClicked(item)"></mat-icon>
              <mat-icon *ngIf="allowAdminToDelete" class="red-text pointer ml-1 p-0" fontIcon="delete"
                (click)="deleteWebItemClicked(item)"></mat-icon>
            </div>
          </td>






          <!-- <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 195px !important;">
              <mat-label>Category</mat-label>
              <mat-select [(value)]="item.category"
                (selectionChange)="updateReportIssueCategory(item.id, $event.value)">
                <mat-option *ngFor="let category of categoryList" class="px-1" [value]="category.category">{{
                  category.category }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->

          <!--   <td>
            <mat-form-field class="px-0 change-request-form-field" subscriptSizing="dynamic"
              style="width: 140px !important;">
              <mat-label>Status</mat-label>
              <mat-select [(value)]="item.status" [disabled]="item.status === 'done' && !allowAdminToDelete"
                (selectionChange)="updateReportIssueStatus(item.id, $event.value)">
                <mat-option class="px-1" value="notStarted">Not Started</mat-option>
                <mat-option class="px-1" value="inProgress">In Progress</mat-option>
                <mat-option class="px-1" [disabled]="!allowAdminToDelete" value="done">Done</mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->

          <!-- <td>
            <div class="row mx-0"><mat-icon class="red-text pointer p-0" fontIcon="edit"
                (click)="editReportIssueRequestClicked(item)"></mat-icon>
              <mat-icon *ngIf="allowAdminToDelete" class="red-text pointer ml-1 p-0" fontIcon="delete"
                (click)="deleteReportIssueRequestClicked(item)"></mat-icon>
            </div>
          </td> -->
        </tr>
      </ng-container>
    </table>
  </div>
</div>

<mat-menu #categoryFilterMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allCategoryClicked();"
    [(ngModel)]="allCategoryCheckBox"><b>Select All</b></mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="webCategoryCheckBox">Web
    Development</mat-checkbox>
  <mat-divider></mat-divider>
  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="adminCategoryCheckBox">Administration</mat-checkbox>

</mat-menu>

<mat-menu #peronResponsibleFilterMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allPersonResponsibleClicked();"
    [(ngModel)]="allPersonResponsibleCheckBox"><b>Select All</b></mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="andrePersonResponsibleCheckBox">Andre</mat-checkbox>
  <mat-divider></mat-divider>
  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="nicPersonResponsibleCheckBox">Chantal</mat-checkbox>
  <mat-divider></mat-divider>
  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="chantalPersonResponsibleCheckBox">Nic</mat-checkbox>

</mat-menu>

<mat-menu #priorityFilterMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allPriorityClicked();"
    [(ngModel)]="allPriorityCheckBox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let priorityItem of priorityData; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
      [(ngModel)]="priorityItem.isFilterSelected">{{
      priorityItem.priority
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

</mat-menu>

<mat-menu #statusFilterMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allStatusClicked();"
    [(ngModel)]="allStatusCheckBox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let statusItem of statusData; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="statusItem.isFilterSelected">{{
      statusItem.status
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

</mat-menu>

<!-- <mat-menu #personResponsibleMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allResponsiblePersonsClicked();"
    [(ngModel)]="allPersonResponsibleCheckbox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let person of responsiblePersonList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="person.isFilterSelected">{{
      person.name
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="blankPersonResponsibleCheckBox">(Blank)</mat-checkbox>

</mat-menu> -->

<!-- <mat-menu #categoryMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allCategoryClicked();"
    [(ngModel)]="allCategoryCheckbox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let category of categoryList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="category.isFilterSelected">{{
      category.category
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="blankCategoryCheckBox">(Blank)</mat-checkbox>

</mat-menu> -->

<!-- <mat-menu #statusMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allStatusClicked();"
    [(ngModel)]="allStatusCheckBox"><b>Select All</b></mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="statusNotStartedCheckBox">Not
    Started</mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="statusInProgressCheckBox">In
    Progress</mat-checkbox>
  <mat-divider></mat-divider>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="statusDoneCheckBox">Done</mat-checkbox>

</mat-menu> -->

<!-- <mat-menu #propertyNumberMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allProperyNumberClicked();"
    [(ngModel)]="allPropertyNumberCheckBox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let property of propertyNumbersList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="property.isFilterSelected">{{
      property.description
      }}</mat-checkbox>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>

</mat-menu> -->

<!-- <mat-menu #priorityMenu="matMenu" yPosition="above">

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation(); allPriorityClicked();"
    [(ngModel)]="allPriorityCheckbox"><b>Select All</b></mat-checkbox>

  <mat-divider></mat-divider>

  <div *ngFor="let priority of priorityList; let last = last">
    <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()" [(ngModel)]="priority.isFilterSelected">{{
      priority.name
      }}</mat-checkbox>
    <mat-divider></mat-divider>
  </div>

  <mat-checkbox class="pr-3" menuItems (click)="$event.stopPropagation()"
    [(ngModel)]="blankPriorityCheckBox">(Blank)</mat-checkbox>

</mat-menu> -->