<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Tedderfield History</p>
    <p class="mb-0 text-size-14">About Us / <span class="child-path-text">Tedderfield History</span></p>
  </div>
</div>

<div class="row mx-0 mb-4 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <div class="page-top-images image1"></div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <div class="page-top-images image2"></div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div *ngFor="let section of historyData; let first = first let last = last; let index = index"
  [ngClass]="{'dark-background': ((index + 1) % 2 ? true : false)}">
  <div class="col-10 mx-auto pb-4">
    <p class="text-size-24 mb-3" [ngClass]="{'text-size-30': first}" [innerHTML]="section.heading"></p>
    <p class="" *ngFor="let paragraph of section.paragraphs" [innerHTML]="paragraph"></p>
  </div>

  <app-arrow-divider *ngIf="!last" [isLightToDark]="((index + 1) % 2 ? false : true)"></app-arrow-divider>

</div>