.page-top-images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: block;
}

.image1 {
    background-image: url("../../../../../assets/about-us/tedderfield-history/Building_of_the_runway.JPG");
}
.image2 {
    background-image: url("../../../../../assets/about-us/tedderfield-history/IMG_0013.JPG");
}
.image3 {
    background-image: url("../../../../../assets/about-us/tedderfield-history/IMG_0019.JPG");
}
.image4 {
    background-image: url("../../../../../assets/about-us/tedderfield-history/Tedderfield_History_Home_Page_1.JPG");
}
.image5 {
    background-image: url("../../../../../assets/about-us/tedderfield-history/Tedderfield_History_Home_Page_2.JPG");
}