<div class="page-header">
  <div class="col-10 mx-auto">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="width-fit-content">
        <p class="mb-0 section-header-text">Manage Gallery</p>
        <p class="mb-0 text-size-14">Admin / <span class="child-path-text">Gallery</span></p>
      </div>
    </div>

  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div *ngFor="let section of galleryData; let last = last; let index = index"
  [ngClass]="{'dark-background': ((index + 1) % 2 ? true : false)}">
  <div class="col-10 mx-auto pb-4">


    <div class="row mx-0 align-items-center pt-3">
      <p class="text-size-30 mb-0 width-fit-content" [innerHTML]="section.title"></p>
      <mat-icon (click)="editSectionHeadingClicked(section)" class="pointer edit-icon">edit</mat-icon>
      <mat-icon (click)="deleteSectionClicked(section.id, section.title)" class="pointer edit-icon">delete</mat-icon>
    </div>

    <div class="row mx-0 align-items-center">
      <p class="width-fit-content mb-0" *ngIf="section.description" [innerHTML]="section.description"></p>
    </div>

    <div class="row mt-3">
      <div class="col-lg-3 col-md-6 col-sm-12 p-2 align-content-center image-container" *ngFor="let img of section.images">
        <mat-icon class="pointer delete-image-icon"
          (click)="deleteImageClicked(img.name, img.id)">delete</mat-icon>
        <img [src]="img.imageSource" [alt]="img.name" width="100%" class="image-max-height"/>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 p-2">
        <app-image-uploader (imageUploadedEmit)="uploadImage(section, $event)"></app-image-uploader>
      </div>
    </div>
  </div>

  <app-arrow-divider [isLightToDark]="((index + 1) % 2 ? false : true)"></app-arrow-divider>

</div>

<div [ngClass]="{'dark-background': ((galleryData.length + 1) % 2 ? true : false)}">
  <div class="col-10 mx-auto pt-3 pb-4">
    <div class="add-section-container pointer mt-3" (click)="addSectionCLicked()">
      <mat-icon class="add-section-icon">playlist_add</mat-icon>
    </div>
  </div>
</div>