<div class="row mx-0" [ngClass]="isLightToDark ? isSmallDivider ? 'divider-container-dark-small' : 'divider-container-dark' : isSmallDivider ? 'divider-container-light-small' : 'divider-container-light'">
  <div class="" [ngClass]="isSmallDivider ? 'left-border-small' : 'left-border'"></div>
  <div class="" [ngClass]="[isLightToDark ? 'center-arrow-light-to-dark' : 'center-arrow-dark-to-light', isSmallDivider ? 'center-arrow-small' : 'center-arrow']"></div>
  <div class="" [ngClass]="isSmallDivider ? 'right-border-small' : 'right-border'"></div>
</div>