.home-screen-video {
    height: 101%;
    object-fit: cover;
    width: 101%;
    display: block;
    clip-path: inset(3px 3px);
    margin-top: -3px;
    margin-left: -3px;
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}