.dropdown {
    width: fit-content;
}

.dropbtn {
    // border-bottom: 3px solid transparent;
    // border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-content: center !important;
    border-bottom: 1px solid transparent;
}

.dropbtn:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #fe432a;
    // border-bottom: 3px solid white;
}

.dropdown-content-container {
    display: none;
    visibility: hidden;
    position: absolute;
    // background-color: #f9f9f9;
    // min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    // color: black !important;
    // margin-top: 5px;
    min-width: 100%;
}

.dropdown-content {
    // display: none;
    // position: absolute;
    background-color: #f9f9f9;
    // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    color: black !important;
    // margin-top: 5px;
    min-width: 100%;
}

.dropdown-content-up-arrow {
    height: 10px;
    width: 15px;
    // position: absolute;
    // color: pink;
    z-index: 2;
    margin-left: 10px;
    background-image: url('../../../assets/drop-down-top-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dropdown-content .dropdown-item:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content-container {
    display: block;
    visibility: visible;
}

.dropdown-icon {
    vertical-align: middle;
    margin-right: -6px;
}

.nav-link-active {
    border-bottom: 3px solid #fe432a !important;
    background-color: rgba(0, 0, 0, 0.2) !important;

    .nav-link-text {
        margin-bottom: -2px;
    }
}
