<div class="row mx-0 p-0" *ngIf="!isMobileView">

  <!-- About Us -->
  <div class="dropdown pointer px-0">
    <!-- [routerLink]="['/about-us']"  -->
    <div class="dropbtn" appIsRouterLinkActive navLinkToCheck="/about-us" [currentRoute]="currentRoute">
      <div class="nav-link-text">About Us<mat-icon class="dropdown-icon ml-1" fontIcon="keyboard_arrow_down"></mat-icon>
      </div>
    </div>
    <div class="dropdown-content-container">
      <div class="dropdown-content-up-arrow"></div>
      <div class="dropdown-content">
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.ClubHouse)">Club
          House
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.FollowUs)">Follow
          Us
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.TedderfieldHistory)">
          Tedderfield History</div>

        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="displayDocument(documentsToDisplayEnum.EmergencyContacts)">
          Emergency Contacts</div>

        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.MissionAndVisionStatement)">
          Mission & Vision Statement</div>

        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.GalleryLanding)">
          Gallery</div>

        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.ContactUs)">
          Contact Us</div>
      </div>
    </div>
  </div>

  <!-- Pilot Information -->
  <div class="dropdown pointer px-0">
    <div class="dropbtn" appIsRouterLinkActive navLinkToCheck="/pilot-information" [currentRoute]="currentRoute">
      <div class="nav-link-text">Pilot Information<mat-icon class="dropdown-icon ml-1"
          fontIcon="keyboard_arrow_down"></mat-icon></div>
    </div>
    <div class="dropdown-content-container">
      <div class="dropdown-content-up-arrow"></div>
      <div class="dropdown-content">
        <!-- <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.MapAndLocation)">
          Map
          and Location</div>
        <mat-divider></mat-divider> -->
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.AirfieldInformation)">
          Airfield Information</div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.JoiningAndLanding)">
          Joining and Landing</div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="displayDocument(documentsToDisplayEnum.NOTAMSNewTab)">
          NOTAMS</div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.ReportingHazards)">
          Reporting Hazards</div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="displayDocument(documentsToDisplayEnum.RunwayInfo)">
          Runway Info
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="displayDocument(documentsToDisplayEnum.ParamotorPilots)">
          Paramotor Pilots
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.SurroundingAirfields)">
          Surrounding Airfields
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="displayDocument(documentsToDisplayEnum.GroundOperations)">
          Ground Operations
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.CircuitProcedures)">
          Circuit Procedures
        </div>
      </div>
    </div>
  </div>

  <!-- FATA Merch -->
  <div class="dropdown pointer px-0">
    <div class="dropbtn" appIsRouterLinkActive navLinkToCheck="/merch" [currentRoute]="currentRoute">
      <div class="nav-link-text">FATA Merch<mat-icon class="dropdown-icon ml-1"
          fontIcon="keyboard_arrow_down"></mat-icon></div>
    </div>
    <div class="dropdown-content-container">
      <div class="dropdown-content-up-arrow"></div>
      <div class="dropdown-content">
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.Classifieds)">
          Classifieds</div>
      </div>
    </div>
  </div>

  <!-- Property for Sale -->
  <div class="dropdown pointer px-0">
    <div class="dropbtn" appIsRouterLinkActive navLinkToCheck="/property-for-sale" [currentRoute]="currentRoute">
      <div class="nav-link-text">Property for Sale<mat-icon class="dropdown-icon ml-1"
          fontIcon="keyboard_arrow_down"></mat-icon></div>
    </div>
    <div class="dropdown-content-container">
      <div class="dropdown-content-up-arrow"></div>
      <div class="dropdown-content">
        <div class="dropdown-item p-2" (click)="displayDocument(documentsToDisplayEnum.SalesBrochure)">
          Tedderfield Sales Brochure</div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.StandsForSale)">
          Stands for Sale</div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.HangarsForSale)">
          Hangars for Sale</div>
      </div>
    </div>
  </div>

  <!-- Members -->
  <div class="dropdown pointer px-0">
    <div class="dropbtn" appIsRouterLinkActive navLinkToCheck="/members" [currentRoute]="currentRoute">
      <div class="nav-link-text">Members<mat-icon class="dropdown-icon ml-1" fontIcon="keyboard_arrow_down"></mat-icon>
      </div>
    </div>


    <div class="dropdown-content-container">
      <div class="dropdown-content-up-arrow"></div>
      <div class="dropdown-content">

        <div *ngIf="!isAuthorised">
          <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.MembersWelcome)">Welcome</div>
        </div>

        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.MembersFAQS)">FAQ's
        </div>

        <div *ngIf="isAuthorised">
          <mat-divider></mat-divider>
          <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.ReportAnIssue)">Report An Issue
          </div>

          <mat-divider></mat-divider>
          <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.GreeningTedderfield)">Greening
            Tedderfield
          </div>

          <mat-divider></mat-divider>
          <div class="dropdown-item p-2" (click)="logout()">Vacate Runway
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Admin -->
  <div *ngIf="isUserAdmin" class="dropdown pointer px-0">
    <div class="dropbtn" appIsRouterLinkActive navLinkToCheck="/admin" [currentRoute]="currentRoute">
      <div class="nav-link-text">Admin<mat-icon class="dropdown-icon ml-1" fontIcon="keyboard_arrow_down"></mat-icon>
      </div>
    </div>
    <div class="dropdown-content-container">
      <div class="dropdown-content-up-arrow"></div>
      <div class="dropdown-content">
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.GalleryAdmin)">
          Manage Gallery</div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.FollowUsRequests)">Follow Us Requests
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.ReportIssueRequests)">Report Issue
          Requests
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.GreeningTedderfieldRequests)">Greening
          Tedderfield
          Requests
        </div>
        <mat-divider></mat-divider>
        <div class="dropdown-item p-2" (click)="navigateToRoute(navigationRoutes.ManageHomeScreenBanner)">Manage Home
          Screen Banner
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 p-0 justify-content-center" *ngIf="isMobileView">
  <button class="mobile-view-menu-container" [matMenuTriggerFor]="mainMenu" mat-icon-button aria-label="Menu">
    <mat-icon class="mobile-menu-icon">menu</mat-icon>
  </button>

  <mat-menu #mainMenu="matMenu" xPosition="before">

    <!-- About Us -->
    <div class="pl-3 pr-0" mat-menu-item [matMenuTriggerFor]="aboutUsMenu">
      <div class="" appIsRouterLinkActive navLinkToCheck="/about-us" [currentRoute]="currentRoute"
        [isMobileView]="isMobileView">
        <div class="nav-link-text">About Us</div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Pilot Information -->
    <div class="pl-3 pr-0" mat-menu-item [matMenuTriggerFor]="pilotInformationMenu">
      <div class="" appIsRouterLinkActive navLinkToCheck="/pilot-information" [currentRoute]="currentRoute"
        [isMobileView]="isMobileView">
        <div class="nav-link-text">Pilot Information</div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- FATA Merch -->
    <div class="pl-3 pr-0" mat-menu-item [matMenuTriggerFor]="fataMerchMenu">
      <div class="" appIsRouterLinkActive navLinkToCheck="/merch" [currentRoute]="currentRoute"
        [isMobileView]="isMobileView">
        <div class="nav-link-text">FATA Merch</div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Property for Sale -->
    <div class="pl-3 pr-0" mat-menu-item [matMenuTriggerFor]="propertyForSaleRentMenu">
      <div class="" appIsRouterLinkActive navLinkToCheck="/property-for-sale" [currentRoute]="currentRoute"
        [isMobileView]="isMobileView">
        <div class="nav-link-text">Property for Sale</div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Members -->
    <div class="pl-3 pr-0" mat-menu-item [matMenuTriggerFor]="membersMenu">
      <div class="" appIsRouterLinkActive navLinkToCheck="/members" [currentRoute]="currentRoute"
        [isMobileView]="isMobileView">
        <div class="nav-link-text">Members
        </div>
      </div>
    </div>

    <!-- Admin -->
    <div *ngIf="isUserAdmin">
      <mat-divider></mat-divider>

      <div class="pl-3 pr-0" mat-menu-item [matMenuTriggerFor]="adminMenu">
        <div class="" appIsRouterLinkActive navLinkToCheck="/admin" [currentRoute]="currentRoute"
          [isMobileView]="isMobileView">
          <div class="nav-link-text">Admin</div>
        </div>
      </div>
    </div>



  </mat-menu>

  <mat-menu #aboutUsMenu="matMenu">
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.ClubHouse)">Club
      House
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.FollowUs)">Follow
      Us
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.TedderfieldHistory)">
      Tedderfield History</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="displayDocument(documentsToDisplayEnum.EmergencyContacts)">
      Emergency Contacts</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.MissionAndVisionStatement)">
      Mission & Vision Statement</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.GalleryLanding)">
      Gallery</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.ContactUs)">
      Contact Us</div>
  </mat-menu>

  <mat-menu #pilotInformationMenu="matMenu">
    <!-- <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.MapAndLocation)">
      Map
      and Location</div>
    <mat-divider></mat-divider> -->
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.AirfieldInformation)">
      Airfield Information</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.JoiningAndLanding)">
      Joining and Landing</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="displayDocument(documentsToDisplayEnum.NOTAMSNewTab)">
      NOTAMS</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.ReportingHazards)">
      Reporting Hazards</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="displayDocument(documentsToDisplayEnum.RunwayInfo)">
      Runway Info
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="displayDocument(documentsToDisplayEnum.ParamotorPilots)">
      Paramotor Pilots
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.SurroundingAirfields)">
      Surrounding Airfields
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="displayDocument(documentsToDisplayEnum.GroundOperations)">
      Ground Operations
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.CircuitProcedures)">
      Circuit Procedures
    </div>
  </mat-menu>

  <mat-menu #fataMerchMenu="matMenu">
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.Classifieds)">
      Classifieds</div>
  </mat-menu>

  <mat-menu #propertyForSaleRentMenu="matMenu">
    <div class="dropdown-item p-2" mat-menu-item (click)="displayDocument(documentsToDisplayEnum.SalesBrochure)">
      Tedderfield Sales Brochure</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.StandsForSale)">
      Stands for Sale</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.HangarsForSale)">
      Hangars for Sale</div>
  </mat-menu>

  <mat-menu #membersMenu="matMenu">
    <div *ngIf="!isAuthorised">
      <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.MembersWelcome)">Welcome
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.MembersFAQS)">FAQ's
    </div>
    <div *ngIf="isAuthorised">
      <mat-divider></mat-divider>
      <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.ReportAnIssue)">Report An
        Issue
      </div>

      <mat-divider></mat-divider>
      <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.GreeningTedderfield)">
        Greening Tedderfield
      </div>

      <mat-divider></mat-divider>
      <div class="dropdown-item p-2" mat-menu-item (click)="logout()">Vacate Runway
      </div>
    </div>
  </mat-menu>

  <mat-menu #adminMenu="matMenu">
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.GalleryAdmin)">
      Manage Gallery</div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.FollowUsRequests)">Follow Us
      Requests
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.ReportIssueRequests)">Report
      Issue Requests
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item
      (click)="navigateToRoute(navigationRoutes.GreeningTedderfieldRequests)">Greening Tedderfield Requests
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-item p-2" mat-menu-item (click)="navigateToRoute(navigationRoutes.ManageHomeScreenBanner)">
      Manage Home Screen Banner
    </div>
  </mat-menu>
</div>