<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Mission Statement</p>
    <p class="mb-0 text-size-14">About Us / <span class="child-path-text">Mission Statement</span></p>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div class="dark-background">
  <div class="col-10 mx-auto pb-4">
    <p class="text-size-24 mb-3">Tedderfield Airpark Mission Statement</p>
    <p class="">To fuel the love of flying, foster a tight-knit community, and keep the skies buzzing with excitement. At Tedderfield, we're all about creating the perfect space where aviators, adventurers, and dreamers work together toward a shared vision—building a thriving, supportive community where everyone's passion for flight takes off.</p>
  </div>

  <!-- <app-arrow-divider *ngIf="!last" [isLightToDark]="((index + 1) % 2 ? false : true)"></app-arrow-divider> -->

</div>