<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Classifieds</p>
    <p class="mb-0 text-size-14">FATA Merch / <span class="child-path-text">Classifieds</span></p>
  </div>
</div>

<div [hidden]="displayClassifiedsDetails">
  <app-arrow-divider class="pointer" (click)="isWelcomeToClassifiedsExpanded = !isWelcomeToClassifiedsExpanded"
    [isLightToDark]="true"></app-arrow-divider>

  <div class="dark-background">
    <mat-expansion-panel hideToggle [expanded]="isWelcomeToClassifiedsExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <div class="col-10 mx-auto">
          <p class="text-size-24 mb-3">Welcome to the Tedderfield Airpark Classifieds!</p>
        </div>
      </mat-expansion-panel-header>


      <div class="col-10 mx-auto pb-4">
        <p class="">Here you'll find a curated selection of items posted by Tedderfield Airpark owners. From aircraft
          and aviation tools to unique treasures, this is where owners showcase what's available for purchase.</p>
      </div>
    </mat-expansion-panel>

    <app-arrow-divider class="pointer" (click)="isHowItWorksExpanded = !isHowItWorksExpanded"
      [isLightToDark]="false"></app-arrow-divider>
  </div>

  <div class="">
    <mat-expansion-panel hideToggle [expanded]="isHowItWorksExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <div class="col-10 mx-auto">
          <p class="text-size-24 mb-3">How It Works</p>
        </div>
      </mat-expansion-panel-header>


      <div class="col-10 mx-auto pb-4">
        <ul>
          <li><b>Exclusive to Owners:</b> Only Tedderfield Airpark owners can post ads, ensuring the items listed come
            from trusted members of our community. <b>No scams here!</b></li>
          <li><b>Public Listings:</b> While only owners can post, anyone can browse the items listed here and contact
            the seller directly for more details or to make an offer.</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <app-arrow-divider class="pointer" (click)="isBrowseAndBuyExpanded = !isBrowseAndBuyExpanded"
      [isLightToDark]="true"></app-arrow-divider>
  </div>

  <div class="dark-background">
    <mat-expansion-panel hideToggle [expanded]="isBrowseAndBuyExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <div class="col-10 mx-auto">
          <p class="text-size-24 mb-3">Browse & Buy</p>
        </div>
      </mat-expansion-panel-header>


      <div class="col-10 mx-auto pb-4">
        <p class="">Looking for something specific? Scroll through our listings to find what you need — whether it's an
          aircraft part, aviation gear, or something unique and unexpected!</p>
      </div>
    </mat-expansion-panel>

    <app-arrow-divider class="pointer" (click)="isQuestionOrInterestExpanded = !isQuestionOrInterestExpanded"
      [isLightToDark]="false"></app-arrow-divider>
  </div>

  <div class="">
    <mat-expansion-panel hideToggle [expanded]="isQuestionOrInterestExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <div class="col-10 mx-auto">
          <p class="text-size-24 mb-3">Questions or Interested in an Item?</p>
        </div>
      </mat-expansion-panel-header>


      <div class="col-10 mx-auto pb-4">
        <p class="">Each ad includes the seller's contact information, so you can reach out to them directly to inquire
          or negotiate.</p>
        <p class="">Tedderfield Airpark is proud to offer this platform to connect sellers and buyers. Happy browsing!
        </p>
      </div>
    </mat-expansion-panel>

    <app-arrow-divider *ngIf="!classifiedsData?.length" class="pointer"
      (click)="isNoClassifiedsAdvertsExpanded = !isNoClassifiedsAdvertsExpanded"
      [isLightToDark]="true"></app-arrow-divider>

    <app-arrow-divider *ngIf="classifiedsData?.length" class="pointer" (click)="togglePannel(0)"
      [isLightToDark]="true"></app-arrow-divider>

  </div>

  <div class="dark-background" *ngIf="!classifiedsData?.length">
    <mat-expansion-panel hideToggle [expanded]="isNoClassifiedsAdvertsExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <div class="col-10 mx-auto">
          <p class="text-size-24 mb-3">No Available Classifieds</p>
        </div>
      </mat-expansion-panel-header>

      <div class="col-10 mx-auto">
        <p>Unfortunately, there are currently no items for sale. Kindly check back periodically in case anew listing is
          submitted.</p>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="" *ngIf="classifiedsData?.length">
    <div *ngFor="let classifiedItem of classifiedsData; let last = last; let index = index"
      [ngClass]="{'dark-background': ((index + 1) % 2 ? true : false)}">
      <mat-expansion-panel hideToggle [expanded]="classifiedItem.isExpanded" class="page-section-expansion-pannel">
        <mat-expansion-panel-header>
          <div class="col-10 mx-auto">
            <p class="text-size-24 mb-3">{{ classifiedItem.title }} - R{{ classifiedItem.price }}</p>
          </div>
        </mat-expansion-panel-header>
        <div class="col-10 mx-auto">
          <div class="row mx-n2">
            <div class="col-lg-4 col-md-6 col-sm-12 p-2 align-content-center mb-3 image-center-allign"
              *ngFor="let img of classifiedItem.images">
              <img [src]="img.fileData" [alt]="img.fileName" class="classifieds-images" />
            </div>

            <p class="mb-0 text-size-18">Price</p>
            <p>R{{ classifiedItem.price }}</p>

            <p class="mb-0 text-size-18">Description</p>
            <ul>
              <li *ngFor="let item of classifiedItem.description">{{ item }}</li>
            </ul>
            <!-- <p [innerHTML]="classifiedItem.description"></p> -->

            <p class="mb-0 text-size-18">Special Notes</p>
            <ul>
              <li *ngFor="let item of classifiedItem.specialNotes">{{ item }}</li>
            </ul>
            <!-- <p [innerHTML]="classifiedItem.specialNotes"></p> -->

            <div class="row mx-0 justify-content-center">
              <div class="red-button mb-4" (click)="viewClassifiedDetails(classifiedItem.id)">
                <p class="mb-0">View Details</p>
                <span class="red-button-icon"></span>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <app-arrow-divider class="pointer" (click)="togglePannel(index + 1)" *ngIf="!last"
        [isLightToDark]="((index + 1) % 2 ? false : true)"></app-arrow-divider>
    </div>
  </div>
</div>

<div *ngIf="displayClassifiedsDetails">

  <app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

  <div class="dark-background">
    <div class="col-10 mx-auto">
      <p class="text-size-24 mb-3">{{ clasifiedDetailsToDisplay.title }}</p>

      <div class="row mx-n2">

        <div class="col-lg-4 col-md-6 col-sm-12 p-2 align-content-center mb-3"
          *ngFor="let img of clasifiedDetailsToDisplay.images">
          <img [src]="img.fileData" [alt]="img.fileName" class="classifieds-images" />
        </div>

        <table class="classifieds-details-table">
          <tr>
            <th></th>
            <th><b>Details</b></th>
          </tr>

          <tr>
            <td>Title</td>
            <td>{{ clasifiedDetailsToDisplay.title }}</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>{{ clasifiedDetailsToDisplay.category }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>
              <li *ngFor="let item of clasifiedDetailsToDisplay.description">{{ item }}</li>
            </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>R{{ clasifiedDetailsToDisplay.price }}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{ clasifiedDetailsToDisplay.location }}</td>
          </tr>
          <tr>
            <td>Seller Name</td>
            <td>{{ clasifiedDetailsToDisplay.name }}</td>
          </tr>
          <tr>
            <td>Seller Phone Number</td>
            <td>{{ clasifiedDetailsToDisplay.phoneNumber }}</td>
          </tr>
          <tr>
            <td>Seller Email</td>
            <td>{{ clasifiedDetailsToDisplay.email }}</td>
          </tr>
          <tr>
            <td>Condition</td>
            <td>{{ clasifiedDetailsToDisplay.itemCondition }}</td>
          </tr>
          <tr>
            <td>Availability</td>
            <td>{{ clasifiedDetailsToDisplay.availability }}</td>
          </tr>
          <tr>
            <td>Special Notes</td>
            <td>
              <li *ngFor="let item of clasifiedDetailsToDisplay.specialNotes">{{ item }}</li>
            </td>
          </tr>
          <tr>
            <td>Date Added</td>
            <td>{{ clasifiedDetailsToDisplay.dateAdded }}</td>
          </tr>
        </table>


        <div class="row mx-0 justify-content-center mt-3 mb-4">
          <div class="white-button mr-3" (click)="backClicked()">
            <p class="mb-0">Back</p>
            <span class="white-button-icon"></span>
          </div>

          <div class="red-button" (click)="displayInterestedInItemModal()">
            <p class="mb-0">I am interested</p>
            <span class="red-button-icon"></span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>