<div class="login-screen-header">
  <div class="col-10 mx-auto px-0">
    <div class="col-10 px-0 mx-auto">
      <p class="mb-0 text-size-22">Account</p>
      <p class="mb-0">Members / Account</p>
    </div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div class="login-background">
  <div class="col-10 px-0 mx-auto login-component-top-spacing">
    <div class="row mx-0">
      <div class="col-6 px-0">
        <h1 class="text-center mb-0">Login</h1>

        <div class="col-10 px-0 mx-auto" [formGroup]="loginFormGroup">
          <div class="row justify-content-center mt-2">
            <mat-form-field class="col-12 px-0">
              <mat-label>Email</mat-label>
              <input style="color: black;" matInput required maxlength="50" formControlName="loginEmailControl">
              <mat-error *ngIf="loginEmailControl?.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="loginEmailControl?.hasError('pattern')">Enter a valid email</mat-error>
            </mat-form-field>
            <!-- <p class="custom-mat-hint">{{ benificiaryName.value ? benificiaryName.value.length : 0}}/50</p> -->
          </div>

          <div class="row justify-content-center mt-2">
            <mat-form-field class="col-12 px-0">
              <mat-label>Password</mat-label>
              <input style="color: black;" [type]="hideNewPin ? 'password' : 'text'" matInput required maxlength="50"
                formControlName="loginPasswordControl">
              <button mat-icon-button matSuffix (click)="hideNewPin = !hideNewPin" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPin">
                <mat-icon class="ml-n2 mb-n4 pt-1">{{hideNewPin ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="loginPasswordControl?.hasError('required')">Email is required</mat-error>
            </mat-form-field>
            <!-- <p class="custom-mat-hint">{{ benificiaryName.value ? benificiaryName.value.length : 0}}/50</p> -->
          </div>

          <div class="row mx-0 justify-content-center">
            <button mat-raised-button [disabled]="loginFormGroup.invalid" class="text-size-20 col-6"
              (click)="loginClicked()">Login</button>
          </div>

        </div>
      </div>
      <div class="col-6 px-0">
        <h1 class="text-center mb-0">Register</h1>

        <div class="col-10 px-0 mx-auto" [formGroup]="registerFormGroup">

          <div class="row justify-content-center mt-2">
            <mat-form-field class="col-12 px-0">
              <mat-label>Name</mat-label>
              <input style="color: black;" matInput required maxlength="50" formControlName="registerNameControl">
              <mat-error *ngIf="registerNameControl?.hasError('required')">Name is required</mat-error>
            </mat-form-field>
            <!-- <p class="custom-mat-hint">{{ benificiaryName.value ? benificiaryName.value.length : 0}}/50</p> -->
          </div>

          <div class="row justify-content-center mt-2">
            <mat-form-field class="col-12 px-0">
              <mat-label>Surname</mat-label>
              <input style="color: black;" matInput required maxlength="50" formControlName="registerSurnameControl">
              <mat-error *ngIf="registerSurnameControl?.hasError('required')">Surname is required</mat-error>
            </mat-form-field>
            <!-- <p class="custom-mat-hint">{{ benificiaryName.value ? benificiaryName.value.length : 0}}/50</p> -->
          </div>

          <div class="row justify-content-center mt-2">
            <mat-form-field class="col-12 px-0">
              <mat-label>Email</mat-label>
              <input style="color: black;" matInput required maxlength="100" formControlName="registerEmailControl">
              <mat-error *ngIf="registerEmailControl?.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="registerEmailControl?.hasError('pattern')">Enter a valid email</mat-error>
            </mat-form-field>
            <!-- <p class="custom-mat-hint">{{ benificiaryName.value ? benificiaryName.value.length : 0}}/50</p> -->
          </div>

          <div class="row justify-content-center mt-2">
            <mat-form-field class="col-12 px-0">
              <mat-label>Password</mat-label>
              <input style="color: black;" [type]="hideNewPin ? 'password' : 'text'" matInput required maxlength="50"
                formControlName="registerPasswordControl">
              <button mat-icon-button matSuffix (click)="hideNewPin = !hideNewPin" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPin">
                <mat-icon class="ml-n2 mb-n4 pt-1">{{hideNewPin ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="registerPasswordControl?.hasError('required')">Password is required</mat-error>
            </mat-form-field>
            <div *ngIf="showStrength" class="mb-3 mt-n2 text-size-12 px-0">
              <div class="password-strength-container">
                <div class="strengthBar" [ngClass]="strengthMeterClass"></div>
              </div>
              <span>{{ strengthText }} {{ passwordStrengthText }}</span>
            </div>
            <!-- <p class="custom-mat-hint">{{ benificiaryName.value ? benificiaryName.value.length : 0}}/50</p> -->
          </div>

          <div class="row justify-content-center mt-2">
            <mat-form-field class="col-12 px-0">
              <mat-label>Confirm Password</mat-label>
              <input style="color: black;" [type]="hideConfirmPin ? 'password' : 'text'" matInput required
                maxlength="50" [disabled]="!passwordIsStrong" formControlName="registerConfirmPasswordControl">
              <button mat-icon-button matSuffix (click)="hideConfirmPin = !hideConfirmPin"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPin">
                <mat-icon class="ml-n2 mb-n4 pt-1">{{hideConfirmPin ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="registerConfirmPasswordControl?.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="registerConfirmPasswordControl?.hasError('noMatch')">Passwords do not match</mat-error>
            </mat-form-field>
            <!-- <p class="custom-mat-hint">{{ benificiaryName.value ? benificiaryName.value.length : 0}}/50</p> -->
          </div>
          <div class="row mx-0 justify-content-center">
            <button mat-raised-button [disabled]="registerFormGroup.invalid" class="text-size-20 col-6"
              (click)="registerClicked()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>