.add-image-section {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: #bfbfbf;
    text-align: center;
    align-content: center;
}

.add-image-icon {
    font-size: 100px;
    height: fit-content;
    width: fit-content;
    margin: auto !important;
}