<div class="page-header">
  <div class="col-10 mx-auto">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="width-fit-content">
        <p class="mb-0 section-header-text">Manage Levies
        </p>
        <p class="mb-0 text-size-14">Admin / <span class="child-path-text">Manage Levies</span></p>
      </div>
    </div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div class="col-12 col-sm-12 col-md 12 col-lg-12 pb-3 dark-background">

  <div class="pt-3"*ngFor="let levieItem of leviesData">
<div class="col-11 col-sm-11 col-md-10 col-lg-8 mx-auto levie-item-background p-3">
    <p><b>Display value:</b> {{ levieItem.levieName }} ZAR{{ levieItem.leviePrice }} per {{ levieItem.levieFrequency }}
    </p>

    <div class="row mx-0 justify-content-center mt-2">
      <mat-form-field class="col-12 px-0">
        <mat-label>Levie Name</mat-label>
        <input style="color: black;" matInput required maxlength="100" [(ngModel)]="levieItem.levieName">
        <mat-error *ngIf="!levieItem.levieName">Levie Name is required</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-0 justify-content-center mt-2">
      <mat-form-field class="col-12 px-0">
        <mat-label>Levie Price</mat-label>
        <div class="d-flex">
          <span *ngIf="levieItem.leviePrice" class="currency-input-prefix">ZAR</span>
          <input style="color: black;"
            (input)="numberControlInput(levieItem.id, levieItem.leviePrice)" matInput required
            maxlength="20" [(ngModel)]="levieItem.leviePrice">
        </div>
        <mat-error *ngIf="!levieItem.leviePrice">Levie Name is required</mat-error>
      </mat-form-field>
    </div>
    

    <div class="row mx-0 justify-content-center mt-2">
      <mat-form-field class="col-12 px-0">
        <mat-label>Levie Frequency</mat-label>
        <mat-select required [(ngModel)]="levieItem.levieFrequency">
          <mat-option value='week'>Weekly</mat-option>
          <mat-option value='month'>Monthly</mat-option>
          <mat-option value='year'>Yearly</mat-option>
        </mat-select>
        <mat-error *ngIf="!levieItem.levieFrequency">Levie Frequency is required</mat-error>
      </mat-form-field>
    </div>

    <div class="row mx-0 justify-content-center mt-2">
      <div class="col-12 px-0">
        <mat-checkbox class="col-12 px-0" [(ngModel)]="levieItem.isForHangars">Is applicable for Hangars</mat-checkbox>
        <mat-checkbox class="col-12 px-0" [(ngModel)]="levieItem.isForStands">Is applicable for Stands</mat-checkbox>
      </div>
    </div>

    
    <div class="row mx-0 justify-content-center mt-3 mb-4">
      <div class="white-button mr-3" (click)="deleteLevieClicked(levieItem.id)">
        <p class="mb-0">Delete</p>
        <span class="white-button-icon"></span>
      </div>

      <div class="red-button" [ngClass]="{'disable-user-click': isLevieUpdateButtonDisabled(levieItem)}"
      (click)="updateLevieItemClicked(levieItem)">
        <p class="mb-0">Update</p>
        <span class="red-button-icon"></span>
      </div>
    </div>

  </div>
  </div>
  

</div>