<div class="page-header">
  <div class="col-10 mx-auto">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="width-fit-content">
        <p class="mb-0 section-header-text">Report Issue Config
        </p>
        <p class="mb-0 text-size-14">Admin / <span class="child-path-text">Report Issue Config</span></p>
      </div>
    </div>
  </div>
</div>


<app-arrow-divider class="pointer" (click)="isCategoryExpanded = !isCategoryExpanded"
  [isLightToDark]="true"></app-arrow-divider>

<div class="dark-background">
  <div class="col-10 mx-auto pb-4">
    <mat-expansion-panel hideToggle [expanded]="isCategoryExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <p class="text-size-24 mb-3">Category</p>
      </mat-expansion-panel-header>

      <div class="row mx-0">
        <div class="red-button my-3" (click)="addCategoryClicked()">
          <p class="mb-0">Add Category</p>
          <span class="red-button-icon"></span>
        </div>
      </div>

      <table>
        <tr>
          <th>Category</th>
          <th style="flex-wrap: nowrap;"><mat-icon class="ml-1 p-0" fontIcon="delete"></mat-icon></th>
        </tr>
  
        <tr *ngFor="let category of categoryList">
          <td class="text-no-wrap" [innerHTML]="category.category"></td>
  
          <td>
            <mat-icon class="red-text pointer ml-1 p-0" fontIcon="delete"
              (click)="deleteCategoryClicked(category)"></mat-icon>
          </td>
        </tr>
  
      </table>

    </mat-expansion-panel>

  </div>

  <app-arrow-divider class="pointer" (click)="isPersonResponsibleExpanded = !isPersonResponsibleExpanded"
    [isLightToDark]="false"></app-arrow-divider>

</div>

<div class="">
  <div class="col-10 mx-auto pb-4">
    <mat-expansion-panel hideToggle [expanded]="isPersonResponsibleExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <p class="text-size-24 mb-3">Person Responsible</p>
      </mat-expansion-panel-header>

      <div class="row mx-0">
        <div class="red-button my-3" (click)="addPersonResponsibleClicked()">
          <p class="mb-0">Add Person Responsible</p>
          <span class="red-button-icon"></span>
        </div>
      </div>

      <table>
        <tr>
          <th>Person Responsible</th>
          <th style="flex-wrap: nowrap;"><mat-icon class="ml-1 p-0" fontIcon="delete"></mat-icon></th>
        </tr>
  
        <tr *ngFor="let personResponsible of responsiblePersonList">
          <td class="text-no-wrap" [innerHTML]="personResponsible.name"></td>
  
          <td>
            <mat-icon class="red-text pointer ml-1 p-0" fontIcon="delete"
              (click)="deletePersonResponsibleClicked(personResponsible)"></mat-icon>
          </td>
        </tr>
  
      </table>

    </mat-expansion-panel>

  </div>

  <app-arrow-divider class="pointer" (click)="isPriorityExpanded = !isPriorityExpanded"
  [isLightToDark]="true"></app-arrow-divider>
</div>

<div class="dark-background">
  <div class="col-10 mx-auto pb-4">
    <mat-expansion-panel hideToggle [expanded]="isPriorityExpanded" class="page-section-expansion-pannel">
      <mat-expansion-panel-header>
        <p class="text-size-24 mb-3">Priority</p>
      </mat-expansion-panel-header>

      <div class="row mx-0">
        <div class="red-button my-3" (click)="addPriorityClicked()">
          <p class="mb-0">Add Priority</p>
          <span class="red-button-icon"></span>
        </div>
      </div>

      <table>
        <tr>
          <th>Priority</th>
          <th>Time to complete</th>
          <th style="flex-wrap: nowrap;"><mat-icon class="ml-1 p-0" fontIcon="delete"></mat-icon></th>
        </tr>
  
        <tr *ngFor="let priority of priorityList">
          <td class="text-no-wrap" [innerHTML]="priority.name"></td>
          
          <td class="text-no-wrap" [innerHTML]="priority.time"></td>
  
          <td>
            <mat-icon class="red-text pointer ml-1 p-0" fontIcon="delete"
              (click)="deletePriorityClicked(priority)"></mat-icon>
          </td>
        </tr>
  
      </table>

    </mat-expansion-panel>

  </div>

</div>
