// .width-fit-content {
//     width: fit-content !important;
//     padding: 0;
// }

.image-max-height {
    max-height: 300px !important;
}

.image-box {
    border: 1px solid #113c67;
    border-radius: 8px;
    margin: 0px;
    padding: 7px;
    height: 100%;
}