<div class="page-header">
  <div class="col-10 mx-auto">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="width-fit-content">
        <p class="mb-0 section-header-text">Manage Interest In Stand For Sale
        </p>
        <p class="mb-0 text-size-14">Admin / <span class="child-path-text">Manage Interest In Stand For Sale</span></p>
      </div>
    </div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div *ngIf="interestedInStandForSaleData?.length" class="col-12 col-sm-12 col-md-12 col-lg-12 px-2 dark-background">

  <div class="row mx-0 justify-content-end">
    <div class="red-button mb-4"
      (click)="exportToExcel()">
      <p class="mb-0">Export To Excel</p>
      <span class="red-button-icon"></span>
    </div>
  </div>

  <div class="col-12 pb-4">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Stand Number</th>
        <th>Price</th>
        <th>Seller Name</th>
        <th>Seller Email</th>
        <th>Seller Phone Number</th>
        <th>Date Added</th>
        <th>Followed Up</th>
        <th>Actions</th>
      </tr>

      <tr *ngFor="let item of interestedInStandForSaleData">
        <td [innerHTML]="item.name"></td>
        <td [innerHTML]="item.email"></td>
        <td [innerHTML]="item.phoneNumber"></td>
        <td [innerHTML]="item.standNumber"></td>
        <td>R {{ item.standPrice }}</td>
        <td [innerHTML]="item.sellerName"></td>
        <td [innerHTML]="item.sellerEmail"></td>
        <td [innerHTML]="item.sellerPhoneNumber"></td>
        <td [innerHTML]="item.dateAdded"></td>

        <td class="text-center"><mat-icon *ngIf="item.hasFollowedUp !== '0'" class="green-text text-bold"
            fontIcon="check"></mat-icon><mat-icon *ngIf="item.hasFollowedUp === '0'" class="red-text text-bold"
            fontIcon="close"></mat-icon></td>

        <td class="text-no-wrap text-center"><mat-icon *ngIf="item.hasFollowedUp === '0'"
            class="green-text mr-2 pointer" fontIcon="check"
            (click)="markInterestedInStandAsFollowedUpClicked(item)"></mat-icon><mat-icon class="red-text pointer"
            fontIcon="delete" (click)="deleteInterestedInStandClicked(item)"></mat-icon></td>
      </tr>

    </table>
  </div>
</div>

<div *ngIf="!interestedInStandForSaleData?.length" class="col-10 mx-auto">
  <p class="text-size-24">There are currently no interest in stands for sale.</p>
</div>