.upload-file-background {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: #bfbfbf;
    text-align: center;
    align-content: center;
}

.upload-file-icon {
    font-size: 100px;
    height: fit-content;
    width: fit-content;
    margin: auto !important;
}

.add-file-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../../../../../assets/add-file.svg");
    background-size: cover;
    background-position: center;
}

.hover-bottom-border {
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid #cd2122 !important;
    }
}
