.product-container {
    border-radius: 10px;
    border: 1px solid #aba8a8 !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}

.image-max-height {
    max-height: 220px !important;
    max-width: 100%;
}
