<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text text-center">MAKE CONTACT WITH US</p>
    <div class="heading-underline mx-auto mt-1"></div>
  </div>
</div>


<div class="col-10 mx-auto mb-5">
  <div class="row mx-0">


    <div class="col-lg-6 col-md-12 p-5 contact-us-dark-background">
      <!-- <p class="text-size-20">We love hearing from our customers and value your questions and feedback.</p> -->

      <div class="row mx-0">
        <div class="col-lg-6 col-md-6 col-sm-12 px-0 mb-4">
          <p class="text-bold text-size-16">Phone / Email</p>
          <p class="mb-1"><a class="text-size-14 no-underline red-hyperlink-text" href="tel:0829004299"><b>T:</b> +27 82 900
              4299</a></p>
          <p class="mb-0"><a class="text-size-14 mb-0 no-underline red-hyperlink-text"
              href="mailto:info@tedderfield.co.za"><b>E:</b> info&#64;tedderfield.co.za</a></p>


        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 px-0 mb-4">
          <p class="text-bold text-size-16">Tedderfield Airpark HQ</p>
          <p class="text-size-14 mb-1">Tedderfield Airpark</p>
          <p class="text-size-14 mb-1">Hanger 8</p>
          <p class="text-size-14 mb-1">23 Nettleton Road</p>
          <p class="text-size-14 mb-1">Eikenhof</p>
          <p class="text-size-14 mb-1">Johannesburg South</p>
          <p class="text-size-14 mb-1">1872</p>
          <p class="text-size-14 mb-1">South Africa</p>
        </div>
      </div>

      <div class="row mx-0">
        <div class="col-lg-6 col-md-6 col-sm-12 px-0 mb-4">
          <p class="text-bold text-size-16">Postal Address</p>
          <p class="text-size-14 mb-1">PO Box 308</p>
          <p class="text-size-14 mb-1">Eikenhof</p>
          <p class="text-size-14 mb-1">Johannesburg South</p>
          <p class="text-size-14 mb-1">1872</p>
          <p class="text-size-14 mb-1">South Africa</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 px-0 mb-4">
          <p class="text-bold text-size-16">GPS Coordinates</p>
          <p class="text-size-14 mb-1">S26°21'06" | E27°58'09"</p>
        </div>
      </div>

      <div class="row mx-0">
        <a class="social-media-container" target="_blank" href="https://www.facebook.com/groups/1485616671675820/">
          <div class="facebook-icon mx-auto"></div>
        </a>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 px-0">
      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.1966476186667!2d27.968887299999995!3d-26.3525009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950702555b2037%3A0xd7912a37ca5be864!2sTedderfield%20Air%20Park%20(FATA)!5e0!3m2!1sen!2sza!4v1727075928162!5m2!1sen!2sza"
        class="google-maps-area" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe> -->



      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4119.855508342352!2d27.968887!3d-26.352501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950702555b2037%3A0xd7912a37ca5be864!2sTedderfield%20Air%20Park%20(FATA)!5e1!3m2!1sen!2sza!4v1728322109704!5m2!1sen!2sza"
        class="google-maps-area" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>