.video-container {
    border-radius: 10px;
    border: 1px solid #aba8a8 !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}

::ng-deep iframe {
    width: inherit !important;
    height: auto !important;
    aspect-ratio: 2 / 1;
}

.youtube-video-player {
    width: 100%;
    aspect-ratio: 2 / 1;
    display: block;
}