<div class="page-header">
  <div class="col-10 mx-auto">
    <p class="mb-0 section-header-text">Airfield Information</p>
    <p class="mb-0 text-size-14">Pilot Information / <span class="child-path-text">Airfield Information</span></p>
  </div>
</div>

<div class="row mx-0 mb-4 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image1"></div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image2"></div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0">
    <div class="page-top-images image3"></div>
  </div>
</div>

<app-arrow-divider [isLightToDark]="true"></app-arrow-divider>

<div class="dark-background">
  <div class="col-10 mx-auto pb-4">
    <p class="text-size-24 mb-3">Airfield Highlights</p>

    <p><b>Our Little Slice of Aviation Paradise: </b>Nestled in Johannesburg South, Tedderfield Airpark started life as
      a peach farm and has since evolved into a buzzing, vibrant airfield that offers so much. And yes, we've kept a
      little of that peach-farm charm.</p>

    <p><b>A Runway with a View: </b>Runway 11/29 may not have the longest stretch in the world, but it more than makes
      up for it with unbeatable views and a smooth, well-maintained surface. Just watch out for the occasional crosswind
      gust - a Tedderfield trademark. And don't forget to wave at the clubhouse on your downwind leg! Well maybe not!
    </p>

    <p class="text-size-20"><b>Flying In:</b></p>

    <p><b>Circuit Patterns and Joining Procedures: </b>At Tedderfield, we like to keep it straightforward with simple
      circuits unless otherwise noted. We recommend you check out our joining and landing procedures - taking in a wide
      view of the airfield to make sure you're aware of any fellow aviators in the area. (Pro tip: Everyone appreciates
      a good lookout!)</p>

    <p><b>Wind Socks and Local Wildlife: </b>Keep an eye on the wind socks, and yes they are fickle and often indicate
      differing directions simultaneously. If you see a furry friend roaming nearby - don't worry, we're on it. Still, a
      quick check for feathered and furred traffic on finals won't hurt.</p>

    <p class="text-size-20"><b>Landing Tips:</b></p>

    <p><b>Grease it Down, Please! </b>We take pride in keeping our landings as smooth as possible, not only for your
      comfort but also to keep our neighbours happy. (And yes, we can all hear that last-minute power-up!) Let's leave
      the corkscrews and cowboy landings for the aerobatic clubs and aim to keep it classy.</p>

    <p><b>Traffic Awareness: </b>Be mindful of who's around and what they're up to. Our radio etiquette is light-hearted
      but polite. If you can keep chatter to a minimum and convey essentials (without too much sass), everyone benefits.
    </p>

    <p class="text-size-20"><b>On the Ground:</b></p>

    <p><b>Parking and Tiedowns: </b>Prime parking awaits! Secure your aircraft in the best spots for weather protection
      and proximity to clubhouse amenities. Look out for the signage, along the northern side of the tarred runway.
      Don't be shy to ask about anything.</p>
  </div>

  <app-arrow-divider [isLightToDark]="false"></app-arrow-divider>
</div>

<div class="">
  <div class="col-10 mx-auto pb-4">
    <h2 class="text-size-24 mb-3">Meet the Trustees</h2>

    <p><b>Fred - Chairman Extraordinaire: </b>He's our official meeting wrangler but may occasionally let conversations
      drift off course (especially if there's an interesting aviation topic involved).</p>

    <p><b>Ian - The Treasurer with a Passion for Rules: </b>A stickler for the books and a firm believer in the
      Sectional Title Act, Ian's got the numbers handled.</p>

    <p><b>Nic - The Green Minded Secretary: </b>Nic's all about greening up Tedderfield and is passionate about a
      well-kept airfield.</p>

    <p><b>Alan - Organiser Extraordinaire: </b>Need help with an event? Alan's your guy - efficient, organised, and
      always
      ready to roll up his sleeves.</p>

    <p><b>Manfred - The Veteran with a Heart for Maintenance: </b>Manfred has been here long enough to know every bolt
      and runway stripe at Tedderfield. He may be old-school - just don't mention his aircraft maintenance organization,
      where things are always "interesting."</p>

    <p><b>Cathy - The Voice of Reason: </b>Cathy's sharp, practical, and can spot a problem before it even hits the
      agenda. Known for keeping discussions balanced and on track, she's often the voice of reason when the debates get
      heated. Her knack for diplomacy keeps the trustee meetings on an even keel.</p>

    <p><b>James - The Legal Eagle: </b>A lawyer by trade, James might change his mind now and then, but when he's
      committed, he's all in. Occasionally slow on deliverables, but hey - that's what legal thoroughness is all about,
      right? With James around, you know you are covered.</p>

  </div>

  <app-arrow-divider [isLightToDark]="true"></app-arrow-divider>
</div>

<div class="dark-background">
  <div class="col-10 mx-auto pb-4">
    <h2 class="text-size-24 mb-3">Navigating Tedderfield Rules</h2>

    <p><b>Friendly Warning on Tailgating: </b>We take security seriously, so don't try sneaking in behind someone else.
      There's a reason our WAR Security team is so well-named.</p>
  </div>

  <app-arrow-divider [isLightToDark]="false"></app-arrow-divider>
</div>

<div class="">
  <div class="col-10 mx-auto pb-4">
    <h2 class="text-size-24 mb-3">Aviation Traditions and Events</h2>

    <p><b>The Famous Fly-Ins:</b> Our fly-ins have reached legendary status, from pancake breakfast fly-ins to the epic
      lemon meringue bake-off. Keep an eye on the events calendar on our web site and bring your best competitive
      spirit.</p>

    <p><b>Club Events and Socials:</b> Braais, Halloween spookfests, and summer socials - the best way to meet other
      pilots and share a few stories over a cold one. (Pro tip: the club's unofficial motto is "The more, the merrier!")
    </p>

    <p><b>Clubhouse Booking and Event Enquiries:</b> [email protected]</p>

    <p>Tedderfield Airpark welcomes you with open skies, clear runways, and a friendly reminder to leave only your
      prop-wash behind. See you up there!</p>
  </div>

</div>